body, html {
    font-family: $f-futura;
    height: 100%;
	margin: 0;
	background-color: $c-gray--darkest;
}


/**
 * An element artificially extend the site-scrollbar
 */
.scroll-maker {
    display: block;
}

.bg-gradient {
    $svg-gradient-shim-threshold: 1 !global;
    @include background-image(linear-gradient(to right, $c-gray, #fff 50%));
	// background-image: -ms-linear-gradient(left, $c-gray 0%, #fff 50%, $c-gray 100%);
	// background-image: -moz-linear-gradient(left, $c-gray 0%, #fff 50%, $c-gray 100%);
	// background-image: -o-linear-gradient(left, $c-gray 0%, #fff 50%, $c-gray 100%);
	// background-image: -webkit-gradient(linear, left top, right top, color-stop(0, $c-gray), color-stop(0.5, #fff), color-stop(1, $c-gray));
	// background-image: -webkit-linear-gradient(left, $c-gray 0%, #fff 50%, $c-gray 100%);
	// background-image: linear-gradient(to right, $c-gray 0%, #fff 50%, $c-gray 100%);
}

.hidden {
	display: none;
}

.hiding {
    opacity: 0 !important;
    pointer-events: none !important;
}


.contact-item {
	width: 68%;
	min-height: 40%;
    padding: 32px;
    background: #e5e5e5;
    @media (min-width: 1262px) {
        background: #e5e5e5 url(../images/misc/WAGO_device.png) no-repeat 120% -230px;
        background-position: left 120% top 140px;
        background-size: 50% auto;
    }
    @media (max-width: 767px) {
      padding: 16px;
        .text-input, label{
            width: 100%!important;
            text-align: left;
        }
        label {
            line-height: 25px;
        }
        .contact-item__checkbox{
            width: 100%;
            margin: 0;
            position: relative;
            padding-left: 20px;
            input {
                  position: absolute;
                  left: 0;
                  top: 6px;
            }
        }
    }

    position: relative;
    display: block;

    transition: opacity 180ms ease, transform 200ms ease;
    opacity: 0.99999;
    transform: translateY(0);

    &.hiding {
        transform: translateY(-50%);
    }

    &:before {
        content: "";
        width: 0;
        height: 0;
        border-right: 1.5em solid transparent;
        border-bottom: 1.5em solid #e5e5e5;
        border-left: 1.5em solid transparent;
        display: block;

        position: absolute;
        top: -1.5em;
        left: 65px;
        @media (max-width: 767px) {
            left: 23%;
        }
        // transition: all .3s ease-in-out;
    }

    .button {
        padding: 3px 18px 3px 16px;
    }
}

    .contact-item--muster {
        &:before {
            left: 354px;
            @media (max-width: 767px) {
                left: auto;
                right: 22%;
            }
        }
    }

    .contact-item__checkbox{
        width: 61%;
        margin: 0 0 0 36%;
    }

    .contact-item__form {
        color: $c-gray--darkest;
        width: 58%;
        @media (max-width: 1262px) {
            width: 100%;

        }
    }

.muster-form {
    .popover-arrow {
        left: 50%;
    }
}

@media (max-width: 767px) {
  .popover {
    display: none!important;
  }
}
//
.phone-panel {

    @media (max-width: 1262px) {
        position: relative;
        margin-bottom: 30px;
        width: 100%;
    }

    color: #fff;
    font-family: $f-futura;
    font-size: 18px;
    text-align: left;
	padding: 10px 30px 10px 10px;
	background: $c-gray--darker;
    position: absolute;
    top: 30px;
    right: 0;

    p {
        line-height: 1.125;
    }

    span {
    }
}

    .phone-panel__title {
        font-weight: 600;
    }

    .phone-panel__number {
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
    }

%left-corner {
    position: absolute;
    top: 0;
    left: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    // left: 50%;
    // transform: translateY(-50%);
}

.canvas-container {
    @extend %left-corner;

    width: 100%;
    overflow: hidden;
    z-index: 1;
}

    .canvas-overlay {
        width: 100%;
        height: 100vh;
        display: block;

        @extend %left-corner;

        // transition: opacity 180ms ease, transform 1s ease;
        opacity: 0.99999;
        // transform: translateY(0);

        &.static {
            left: 100% !important;;

            .pane__modal {
                right: 115% !important;
            }
        }

        &.hiding {
            // transform: translateY(-100%);
        }
    }

.light-overlay {
    color: $c-gray--darkest;
    width: 100%;
    background: #fff;
    display: block;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 12;

    .pane {
        position: relative;
        // box-shadow: 0 0 325px rgba(0,0,0,.25) inset;
    }
}

.r {
    font-size: .75em;
    position: relative;
    bottom: .46em;
}

.mondo {
    text-transform: uppercase;
}

.__video {
    width: 80%;
    margin: 0 auto 30px;
    padding-top: 70px;
}

@media (max-width: 767px) {
    .site-footer {
        form {
            float: left;
            margin-top: 10px;
        }
        [class~="1/2"]{
            width: 100%!important;
        }
    }
}

// .jwplayer {
//     .jwpreview {
//         background: #333 !important;
//     }
// }
