<!doctype html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]>  <html class="ie"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
<head>
    <title>{{ page.title }}</title>

    <!-- General META -->
    <meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

	<!-- Semantic META -->
	<meta name="keywords" content="{{ page.keywords }}">
    <meta name="description" content="{{ page.description }}">

	<!-- Fav Icon -->
	<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <script src="/assets/js/jwplayer.js" type="text/javascript"></script>
    <script>
        jwplayer.key = '+o6jZn/fknZ1+cRqtEj4F+u9AlYRny0WHLG1mA==';
    </script>
    <script>
        /*!
        loadCSS: load a CSS file asynchronously.
        [c]2014 @scottjehl, Filament Group, Inc.
        Licensed MIT
        */
        function loadCSS( href, before, media, callback ){
            "use strict";
            var ss = window.document.createElement( "link" );
            var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
            var sheets = window.document.styleSheets;
            ss.rel = "stylesheet"; ss.href = href; ss.media = "only x";
            // DEPRECATED
            if( callback ) { ss.onload = callback; }

            ref.parentNode.insertBefore( ss, ref );
            ss.onloadcssdefined = function( cb ){
                var defined;
                for( var i = 0; i < sheets.length; i++ ){
                    if( sheets[ i ].href && sheets[ i ].href.indexOf( href ) > -1 ){
                        defined = true;
                    }
                }
                if( defined ){
                    cb();
                } else {
                    setTimeout(function() { ss.onloadcssdefined( cb ); });
                }
            };
            ss.onloadcssdefined(function() { ss.media = media || "all"; });
            return ss;
        }

        function preloadImages(images) {
            for (var i = 0; i < images.length; images++) {
                (new Image()).src = images[i];
            }
        }

        {{#each page.styles }}
        loadCSS('/assets/css/{{this}}');
        {{/each}}
        // loadCSS('/assets/css/main.css');

        preloadImages([
            '/assets/images/arrow_no_hover.png',
            '/assets/images/arrow_hover.png',
            '/assets/images/phone-32.png',
            '/assets/images/cogs-32.png',
            '/assets/images/download-32.png',
        ]);

    </script>
    <noscript>
        {{#each page.styles }}
        <link href="/assets/css/{{this}}" rel="stylesheet">
        {{/each}}
        <link href="/assets/css/main.css" rel="stylesheet">
    </noscript>

    {{#if inlineStyles }}
    <!-- Inline styles for faster page render -->
    <style>{{{ inlineStyles }}}</style>
    {{/if}}

    <!--[if lt IE 9]>
         <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="js-vm-app">

    {{{ body }}}

    <div class="scroll-maker"
         v-style="
            height: geometry.h + (frames.length*ratio) + 'px'
         "></div>

    {{> components/langSwitch }}
    {{> components/sideMenu }}
    {{> components/popout }}
    {{> components/infomodal }}
    {{> components/scrollAlias }}
    {{> components/contactForm }}
    {{> components/panes/intro }}
    {{> components/panes/introstop }}
    {{> components/panes/clamp }}
    {{> components/panes/universeller }}
    {{> components/panes/hohe }}
    {{> components/panes/multifunktionales }}
    {{> components/panes/komfortable }}
    {{> components/panes/alle }}
    {{> components/panes/contact }}
    {{> components/panes/moreInfo }}
    {{> components/panes/diamonds }}

	<!--Application JavaScript Files-->
    {{#each page.scripts }}
        <script src="/assets/js/{{this}}.js?#{{ver}}" type="text/javascript"></script>{{/each}}
        <script src="{{ base }}assets/js/{{default pageScript 'main'}}.js?#{{ver}}" type="text/javascript"></script>


    <script>
        // http://paulirish.com/2011/requestanimationframe-for-smart-animating/
        // http://my.opera.com/emoller/blog/2011/12/20/requestanimationframe-for-smart-er-animating
        // requestAnimationFrame polyfill by Erik Möller. fixes from Paul Irish and Tino Zijdel
        // MIT license
        (function() {
            var lastTime = 0;
            var vendors = ["ms", "moz", "webkit", "o"];
            for(var x = 0; x < vendors.length && !window.requestAnimationFrame; ++x) {
                window.requestAnimationFrame = window[vendors[x]+"RequestAnimationFrame"];
                window.cancelAnimationFrame = window[vendors[x]+"CancelAnimationFrame"]
                                           || window[vendors[x]+"CancelRequestAnimationFrame"];
            }

            if (!window.requestAnimationFrame)
                window.requestAnimationFrame = function(callback, element) {
                    var currTime = new Date().getTime();
                    var timeToCall = Math.max(0, 16 - (currTime - lastTime));
                    var id = window.setTimeout(function() { callback(currTime + timeToCall); },
                      timeToCall);
                    lastTime = currTime + timeToCall;
                    return id;
                };

            if (!window.cancelAnimationFrame)
                window.cancelAnimationFrame = function(id) {
                    clearTimeout(id);
                };
        }());

    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';

        _gaq.push(['_setAccount', 'UA-44259015-1']);
        _gaq.push(['_setSiteSpeedSampleRate', 50]);
        _gaq.push(['_require', 'inpage_linkid', pluginUrl]);

        (function(){function g(a,b){_gaq.push(["_addOrganic",a,b||"q",!0])}window._gaq=window._gaq||[];var  a=["google.","bing.","maps.google.","news.google."],b=["de","at","ch","fr","co.uk","it","es","pl","cz","se","fi","dk"],c,d,e=[["suche.web.de"],["suche.t-online.de"],["suche.gmx.net"],["search.1und1.de"],["arianna.libero.it","query"],["yahoo.com","p"],["yahoo.de","p"],["at.search.yahoo.com","p"],["ch.search.yahoo.com","p"],["fr.yahoo.com","p"],["uk.yahoo.com","p"],["it.yahoo.com","p"],["es.yahoo.com","p"],["pl.yahoo.com","p"],["dir.yahoo.com","p"],["se.yahoo.com","p"],["dk.yahoo.com","p"]],f;for(c=0;c<a.length;c++)for(d=0;d<b.length;d++)e.push([a[c]+b[d]]);for(f=0;f<e.length;f++)g(e[f][0],e[f][1])})()
        _gaq.push(['_trackPageview']);

        _gaq.push(['_gat._anonymizeIp']);

        _gaq.push(['b._setAccount', 'UA-44259015-2']);
        _gaq.push(['b._setSiteSpeedSampleRate', 50]);
        _gaq.push(['b._require', 'inpage_linkid', pluginUrl]);
        _gaq.push(['b._setDomainName', 'wago.de']);
        _gaq.push(['b._setAllowLinker', true]);

        (function(){function g(a,b){_gaq.push(["b._addOrganic",a,b||"q",!0])}window._gaq=window._gaq||[];var  a=["google.","bing.","maps.google.","news.google."],b=["de","at","ch","fr","co.uk","it","es","pl","cz","se","fi","dk"],c,d,e=[["suche.web.de"],["suche.t-online.de"],["suche.gmx.net"],["search.1und1.de"],["arianna.libero.it","query"],["yahoo.com","p"],["yahoo.de","p"],["at.search.yahoo.com","p"],["ch.search.yahoo.com","p"],["fr.yahoo.com","p"],["uk.yahoo.com","p"],["it.yahoo.com","p"],["es.yahoo.com","p"],["pl.yahoo.com","p"],["dir.yahoo.com","p"],["se.yahoo.com","p"],["dk.yahoo.com","p"]],f;for(c=0;c<a.length;c++)for(d=0;d<b.length;d++)e.push([a[c]+b[d]]);for(f=0;f<e.length;f++)g(e[f][0],e[f][1])})()
        _gaq.push(['b._trackPageview']);

        _gaq.push(['b._gat._anonymizeIp']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script src="/assets/js/bootstrap.js" type="text/javascript"></script>
    <script>
        $('body').popover({selector: '[data-toggle="popover"]', trigger: 'hover', html: true});
    </script>


</body>
</html>
