/*-------------------------------------*\
    $BRUCKER MODAL
\*-------------------------------------*/

/**
 * Brucker Modal
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

.brucker-modal {

    > header {
        margin-bottom: 20px;
        overflow: hidden;
    }
}

    .brucker-modal__header__image {
        width: 142px;
        margin: 0 25px 20px 0;
    }

    .brucker-modal__header__text {
        min-width: 50%;
        overflow: hidden; // Keepin' it square
    }

    .brucker-modal__features {
        $s-width: 50%;
        $s-margin: 2%;

        @extend %list--plain !optional;

        margin-left: -$s-margin;

        li {
            float: left;
            width: $s-width - $s-margin;
            min-height: 135px;
            padding-top: 6px;
            border-top: 1px solid #d3d3d3;
            border-top-color: rgba(222, 222, 222, 0.4);
            margin: 0 0 15px $s-margin;

            > .media__img {
                width: 25%;
            }

            strong, h3 {
                font-weight: 600;
            }

            h3 {
                color: $c-brand;
                margin-bottom: 4px;
            }

            p {
                font-size: 13px;
                line-height: 1.345;
            }
        }
    }
