.leiterarten-container {
    position: absolute;
    top: 150px;
    left: 15%;
    display: block;

    .leiterarten__title {
        font-size: 18px;
        font-weight: 500;

        width: 100px;
        padding-bottom: 8px;
        border-bottom: 4px solid $c-green;
        margin-bottom: 20px;
    }

    .fade-item {
        width: 250px;
        margin-bottom: 10px;
        opacity: 0;

        img {
            margin-right: 10px;
        }

        p {
            line-height: 41px;
        }
    }


}
