#alle {
    opacity: 0;
}

.pane--alle {
    .info-modal {
        width: 546px;
        padding: 16px 25px 30px;
        display: block;

        position: absolute;
        top: 146px;
        right: 16%;

        background: rgba(0,0,0, .26);
    }

        .info-modal__title {
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 8px;
            border-bottom: 6px solid $c-green;
            margin-bottom: 15px;
        }

        .info-modal__content {
            font-size: 19px;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 16px;
        }

        .info-modal__button {
            text-align: right;
        }


    .mondo {
        font-size: 46px;
        line-height: 1.05;
        margin-bottom: 16px;
    }
}
