.pane--komfortable {
}

.komfortable {
    .grid-modal__features li {
        min-height: 155px;
    }
    @media (max-width: 1280px) and (max-height: 1024px) {
        .modal__title {
            font-size: 22px;
        }

        .grid-modal__header__image {
            width: 110px;
        }

        .grid-modal__features li {
            min-height: 160px;
        }
    }

    @media (max-width: 1865px) {
        .modal__title {
            font-size: 32px;
        }
    }

    @media (max-width: 1680px) {
        .modal__title {
            font-size: 25px;
        }

        .grid-modal__header__image {
            width: 125px;
        }

        .grid-modal__features li h3 {
            font-size: 19px;
        }
    }

    @media (max-width: 1366px) {
        .grid-modal__features li h3 {
            font-size: 17px;
        }

        .grid-modal__features li {
            min-height: 167px;
        }

        .modal__title {
            font-size: 20px;
        }

        .grid-modal__header__image {
            width: 110px;
        }
    }

    @media (max-width: 1280px) {
        .grid-modal__features li h3 {
            font-size: 17px;
        }

        .grid-modal__features li {
            min-height: 184px;
        }
    }

    @media (max-width: 1150px) {

        .modal__title {
            font-size: 18px;
        }

        .grid-modal__header__image {
            width: 80px;
        }
        .grid-modal__features li h3 {
            font-size: 14px;
        }

        .grid-modal__features li {
            min-height: 171px;
        }

        .grid-modal__header__text {
            font-size: 12px;
            line-height: 18px;
        }

        .grid-modal__features li p {
            font-size: 12px;
        }
    }
}


@media (max-width: 1024px) {
    .komfortable {
        .grid-modal__features li {
            min-height: 160px;
        }
    }
 }

@media (max-width: 1024px) {
    .komfortable {
        .grid-modal__features li {
            min-height: 190px;
        }
    }
 }
