/*-------------------------------------*\
    $PANE INTRO-STOP
\*-------------------------------------*/

/**
 * Pane Intro Stop
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

.pane--intro-stop {

    .logo-text-lg {
        top: 37%;
        position: absolute;
        display: none;
        left: 37%;
        font-size: 95px;
        font-weight: 600;
        text-shadow: 0 0 40px #000,
                     0 0 60px rgba(0,0,0,.125),
                     0 0 12px rgba(0,0,0,.45),
                     0 0  5px rgba(0,0,0,.25);

        sup {
            font-size: .575em;
            bottom: .65em;
        }
    }

    .aside,
    aside {
        max-width: 375px;

        position: absolute;
        top: 65%;
        left: 58.5%;
        display: none;
        
        @media (max-height: 880px) and (max-width: 1150px), (max-height: 800px) {
            top: 60%;
            left: 66.5%;
        }

        .title {
            font-size: 22px;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 0.875em;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.25;
            margin-bottom: 16px;
        }
    }
}



