.pane--intro {
    div.spotlightBg {
        background: url('../images/misc/bg_spotlight.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
        display: none;
    }
}
