/*-------------------------------------*\
    $PANE LEITERARTEN
\*-------------------------------------*/

/**
 * Pane Leiterarten
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

.pane--leiterarten {

}

.info__modal.leiterarten { 
    li h3 {
        font-size: 18px;
    }
}




