/*-------------------------------------*\
    $PANE MORE INFO
\*-------------------------------------*/

/**
 * Pane MoreInfo
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

.pane--moreInfo {
    color: $c-gray--darkest;
    text-align: center;
    height: auto;
    padding-top: 20px;

    h3, strong {
        font-weight: 600;
    }

    h3 {
        color: $c-brand;
        font-size: 21px;
        line-height: 1.4;

        @media (max-height: 880px) and (max-width: 1150px), (max-height: 800px) {
            line-height: 1.2;
            font-size: 30px;
        }
    }

    h2.title {
        @media (max-height: 880px) and (max-width: 1150px), (max-height: 800px) {
            margin-bottom: 7px;
        }
    }

    .mondo {
        font-size: 46px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.785;

        @media (max-height: 880px) and (max-width: 1150px), (max-height: 800px) {
            font-size: 30px;
            margin-bottom: 6px;
        }
    }

    .info-modal__content {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.25;
        margin-bottom: 20px;

        @media (max-height: 880px) and (max-width: 1150px), (max-height: 800px) {
            font-size:14px;
            margin-bottom: 15px;
        }
    }

    .container {
        text-align: left;
        width: 68%;
        margin: 20px auto 30px;

        .mondo {
            line-height: 1;
            margin-bottom: 30;
        }
    }

        .info-modal__image-container {
            width: 47%;
            @media (max-width: 992px) {
                overflow: hidden;
            }
            margin: 0 auto 50px;
            position: relative;
            left: 24px;
            margin-top: 13%;

            .device-image {
                width: 100%;
                visibility: hidden;
                position: relative;
                left: 0;
            }
        }


        .__toggle-1 { position: absolute; top: 36%;   left:  45.5%; }
        .__toggle-2 { position: absolute; top: -6.1%; left: 26.5%; }
        .__toggle-3 { position: absolute; top: 6.8%; left: 59.9%; }
        .__toggle-4 { position: absolute; top: 12%;   left: 28%;   }
        .__toggle-5 { position: absolute; top: 4%;   left: 9.5%; }

        .__toggle-1 {
            .popout__label {
                top: 73px;
                // right: 260px;
                left: 295px;

                &:after {
                    width: 255px;
                    top: -4px;
                    right: 91%;
                    right: calc(100% - 11px);
                    transform: rotate(14deg);
                }
            }
        }

        .__toggle-2 {
            .popout__label {
                right: 253px;

                &:before {
                    width: 198px;
                }
            }
        }

        .__toggle-3 {
            .popout__label {
                left: 230px;

                &:after {
                    width: 180px;
                }
            }
        }

        .__toggle-4 {
            .popout__label {
                top: 73px;
                right: 250px;

                &:before {
                    top: -3px;
                    transform: rotate(-18deg);
                }

                &:after {
                    left: 5px;
                }
            }
        }
        .__toggle-5 {
            .popout__label {
                right: 110px;

                &:before {
                    width: 62px;
                }
            }
        }


        .info-modal__feature-list {
            list-style-position: outside;
            padding-left: 1.18em;
        }


        .info-modal__title {
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 8px;
            border-bottom: 6px solid $c-green;

            @media (max-height: 880px) and (max-width: 1150px), (max-height: 800px) {
                font-size: 16px;
            }
        }




    .more-info-toggle {
        width: 50px;
        height: 50px;
        background-color: #57aa53;
        opacity: 0.9;
        transition: all .2s ease-in-out;
        font-size: 2.5em;
        font-weight: 500;
        color: white;
        text-align: center;
        padding-top: 12px;
        border-radius: 100px;
        cursor: pointer;
    }

    .more-info-toggle:hover {
        transform: scale(1.5);
    }


}

.pane--moreInfo--static {
    background: #eee;

    // top: 50px;
    opacity: 1 !important;

    .container {
        width: 80%;
        margin-top: 80px;
        @media (max-width: 992px) {
          margin-top: 40px;
        }
    }

    .info-modal__image-container {
        margin-top: 0;
        margin-bottom: 0;
        @media (max-width: 800px) {
            width: 70%!important;
        }
        @media (max-width: 800px) {
            width: 90%!important;
        }

        .device-image {
            visibility: visible;
        }
    }

        .__toggle-1 { position: absolute; top: 65%;   left: 45.5%; }
        .__toggle-2 { position: absolute; top: 21.1%; left: 26.5%; }
        .__toggle-3 { position: absolute; top: 30.8%; left: 59.9%; }
        .__toggle-4 { position: absolute; top: 41%;   left: 28%;   }
        .__toggle-5 { position: absolute; top: 33%;   left: 9.5%; }
}
