/*-------------------------------------*\
    PANE CONTACT
\*-------------------------------------*/

/**
 * Pane Contact
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */


.pane--contact {
    text-align: center;
    padding-top: 130px;
    margin-bottom: 0;
    height: auto;

    .contact__subtitle {
        font-size: 34px;
        font-weight: 200;
        line-height: 1.4;

        margin-bottom: 0;
    }

    .contact__title {
        font-size: 34px;
        font-weight: 200;
        line-height: 1.4;
        margin-bottom: 40px;

        b {
            font-size: 52px;
            font-weight: 800;
            line-height: 1;

            .r {
                font-size: .685em;
            }
        }
    }

    .container {
        text-align: left;
        width: 68%;
        @media (max-width: 992px) { 
            width: 90%;
        }

        margin: 0 auto 30px;
    }

    .button {
        font-size: 21px;
        line-height: 40px;
        padding: 0 20px 0 16px;
    }

    .buttons-container {
        .button {
            font-size: 25px;
            @media (max-width: 767px) { 
                width: 48%;
                float: left; 
                font-size: 18px;
                margin: 0;
                line-height: 1;
                padding: 10px 10px 10px 30px;
                position: relative;
                &:last-child{
                    margin-left: 4%;
                }
                span {
                  position: absolute;
                  top: 9px;
                  left: 14px;
                }
            }
            margin-bottom: 10px;
            margin-right: 3em;
        }
    }

    .static-buttons {
        //text-align: right;

        .button {
            font-size: 16px;
            line-height: 32px;
            padding: 0 12px 0 8px;
        }
    }
}
