/*-------------------------------------*\
    $PANE DIAMONDS
\*-------------------------------------*/

/**
 * Pane Diamonds
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

.pane--diamonds {
    text-align: center;
    height: auto;
    padding-top: 120px;

    &:before {
        content: "";
        width: 100%;
        height: 100%;

        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;

        z-index: 1;

        box-shadow: 0 0 300px rgba(0,0,0,.1) inset;
    }

    .produktprogramm {
        margin-bottom: 10em;
    }

    .container {
        text-align: left;
        width: 75%;
        margin: 0 auto;

        position: relative;
        z-index: 2;
        @media (max-width: 992px) { 
            width: 90%;
        }

    }

    h1 {
        font-size: 40px;
        @media (max-width: 992px) { 
            font-size: 26px;
            word-break: break-word;
        }
        text-transform: uppercase;
        margin-bottom: 0.65em;
    }

    section {
        margin-bottom: 6em;
    }
}
