/*-------------------------------------*\
    SIDE MENU
\*-------------------------------------*/

/**
 * Side Menu
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */


$w: 350px;
$speed: 235ms;
$timing: ease-in-out;
.side-menu {
    color: $c-gray--lightest;
    font-size: 14px;
    width: $w;
    padding: 32px 0 16px 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);

    overflow: hidden;
    position: fixed;
    top: 24%;
    left: 0;
    z-index: 200;
    opacity: .999999;

    transform: translateX(0);

    transition: all $speed $timing;
    @media (max-width: 767px) {
        left: -46px;
    }
}

    .side-menu.hiding {
        transform: translateX(-100%);
    }
    .side-menu.closed,
    .side-menu-hidden {
        width: 46px;
    }

    %side-menu__list {
        width: $w;
        list-style: none;

        li {
            line-height: 2.25;
            padding-left: 46px;
            background-repeat: no-repeat;
            background-position: 0, 0;

            position: relative;

            cursor: pointer;

            a {
                color: $c-gray--dark;
                text-decoration: none;
            }

            &:before {
                $s: 8px;
                content: "";
                display: block;
                width:  $s;
                height: $s;

                position: absolute;
                top: 12px;
                left: 18px;

                border-radius: 50%;
            }

            &:active,
            &:hover,
            &:focus {
                a {
                    color: $c-green;
                }
            }

            &.active {
                a {
                    color: $c-green;
                }
            }
        }
    }

    .side-menu__bullet-list {
        @extend %side-menu__list !optional;

        margin-bottom: 28px;

        li {
            &:before {
                border: 1px solid $c-gray--dark;
            }

            &:active,
            &:hover,
            &:focus {
                &:before {
                    border: 1px solid $c-green;
                }
            }

            &.active {
                &:before {
                    width:  12px;
                    height: 12px;
                    border: 3px solid #000;
                    background: $c-green;

                    top:    10px;
                    left:   16px;

                    box-shadow: 0 0 1px 2px rgba($c-green, .3);
                }
            }
        }
    }

    .side-menu__icon-list {
        @extend %side-menu__list !optional;

        li {
            background-image: url('/assets/images/phone-32.png');
            // background-size: 16px 16px;
            background-position: 14px, 0;

            &:hover,
            &.active {
                color: #fff;
                background-color: $c-brand;

                a {
                    color: #fff;
                }
            }
        }


        .kontakt {
            background-image: url('/assets/images/phone-32.png');

            &:hover,
            &.active {
                background-image: url('/assets/images/phone-active-32.png');
            }
        }
        .produktprogramm {
            background-image: url('/assets/images/cogs-32.png');

            &:hover,
            &.active {
                background-image: url('/assets/images/cogs-active-32.png');
            }
        }
        .downloads {
            background-image: url('/assets/images/download-32.png');

            &:hover,
            &.active {
                background-image: url('/assets/images/download-active-32.png');
            }
        }
    }

.side-picts {
    color: $c-gray--lightest;
    text-align: center;
    width: 32px;
    padding: 16px 0px 16px 0px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);

    position: fixed;
    top: 145px;
    z-index: 200;

    .menu-control {
        text-align: center;
    }
}

    .side-menu__control {
        $s: 30px;

        color: $c-green;
        font-size: 3em;
        font-weight: 600;
        text-align: center;
        width: $s;
        height: $s;
        padding: 0 4px 4px 0;

        position: absolute;
        top: 6px;
        right: 6px;

        cursor: pointer;

        transform: rotate(45deg);

        transition: all $speed $timing;

        .closed & {
            transform: rotate(0);
        }
    }


    .menu-item {
        line-height: 2em;
        height: 2em;
        cursor: pointer;

        &:hover {
            color: $c-green;
        }

        + .misc-item {
            margin-top: 2em;

            ~ .misc-item {
                margin-top: 0;
            }
        }
    }
