/*-------------------------------------*\
    $SITE FOOTER
\*-------------------------------------*/

/**
 * Site Footer
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

.site-footer {
    background: $c-gray--lightest;

    .container {
        // @extend %clear-fix !optional;

        text-align: left;
        width: 75%;
        margin: 0 auto;

        position: relative;
        z-index: 2;
    }
}

    .site-footer__social {
        font-size: 22px;
        margin-bottom: 30px;
        background: $c-brand;

        &, a {
            color: #fff;
            text-decoration: none;
            line-height: 45px;
        }

        a {
            margin-right: 1em;
            display: inline-block;
        }
    }

    .site-footer__newsletter-signup {
        color: #656565;
        padding-bottom: 45px;
        border-bottom: 2px solid $c-gray--lighter;

        h3 {
            font-size: 22px;
            font-weight: 200;
            margin-bottom: .5em;
        }

        p {
        }

        label {
            font-size: 16px;
            text-align: left;
            width: auto;
            margin: 0;

            input {
                margin: 0 0 0 1em;
                width: 66%;
                float: none;
            }

            &, & * {
                line-height: 25px;
            }
        }

        input {
            margin: 0;
        }
    }

    .site-footer__copyright {
        font-family: $f-arial;
        line-height: 45px;

        &, small {
            color: #656565;
            font-size: 14px;
        }
    }

    .site-footer__nav {

        a {

            &,
            &:visited {
                color: #656565;
            }
        }
    }





