/*-------------------------------------*\
    HEADER
\*-------------------------------------*/

/**
 * Site Header
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */


.site-header {
    color: $c-green;
    font-size: 1px;
    font-size: 17px;


    width: 100%;
    position: fixed;
    z-index: 200;
    margin-top: -1px;
    -webkit-backface-visibility: hidden;
    color: #575757;
    font-size: 17px;

    // transition: all .3s ease-in;
    transition: all .5s ease-out;
    a {
        -webkit-backface-visibility: hidden;
        line-height: 58px;

        text-decoration: none;
        margin-right: 55px;
        cursor: default;
        color: #575757;
        cursor: pointer;
        &:hover {
            color: $c-green;
        }
    }


    &__nav {
         background-color: white;
        transform: translateY(-100%);
        transition: all 0.2s ease-in;

        /* margin-left: 35%; */
        padding-left: calc(18% + 165px);
        /* overflow: hidden; */
        z-index: 3;
        -webkit-backface-visibility: hidden;
    }
    @media (max-width: 992px) {
        &__nav {
          background-color: white;
          padding-left: calc(165px);
        }
    }

    @media (min-width: 768px) {
        z-index: 99!important;
      &__nav__mobile{
          display: none;
      }
      &__nav {
        top: 0!important;
        transform: translateY(0%)!important;
      }
    }
    @media (max-width: 767px) {
      &__nav__desktop{
          display: none;
      }
    }
    @media (max-width: 767px) {
        &__nav {
          //transform: translateY(-100%);
          padding: 0;
          .side-menu__bullet-list, .side-menu__icon-list{
            width: 100%;
            margin-bottom: 10px;
            padding: 0 20px;
            a{
              line-height:1.4;
              padding: 5px;
              color: #575757;


            }
          }
          .side-menu__bullet-list li.active:before {
            border: 3px solid #fff;
          }
          .side-menu__icon-list li:hover, .side-menu__icon-list li.active{
            background-color: transparent;

          }
          .side-menu__icon-list .kontakt {
            background-image: url("/assets/images/phone-32.png")!important;
          }
          .side-menu__icon-list .produktprogramm {
            background-image: url("/assets/images/cogs-32.png")!important;
          }
          .side-menu__icon-list .downloads {
            background-image: url("/assets/images/download-32.png")!important;
          }
            color: #575757;
            width: 100%;
            padding-top: 55px;
            background: #fff;
            margin: 0!important;
            line-height: 58px;
            transition: all .3s ease-in;
            position: absolute;
            top: 0;
            z-index: -1;
            a {
                color: #575757;
                display: block;
                margin: 0;
                padding-left: 35px;
                width: 100%;
                text-align: left;
            }

        }

        &.open  {
            z-index: 99;

        }
        &.open &__nav {
            top: 0;
            transform: translateY(0%);
        }
    }
}


 .navbar-langSwitch-wrapper.open {
    .navbar-langSwitch{
      transform: translateY(50px);
    }
  .lang-toggle{
    &:after{
      border-color: #333 transparent transparent transparent;
      transform: rotate(180deg);
    }
  }
}



.lang-toggle{
  position: absolute;
  top: 12px;
  transition: top 0.2s ease-in;
  right: 20px;
  z-index: 99;
  background: none;
  border: none;
  @media (max-width: 767px) {
    top: 12px;
    right: 60px;
  }
  &:after{
    position: absolute;
    right: 5px;
    content: "";
    width: 0;
    top: 13px;
    height: 0;
    border-style: solid;
    border-width: 8px 7px 0 7px;
    border-color: #dbdbdb transparent transparent transparent;
  }
  padding: 4px 25px 6px 10px;
  &:focus {
    outline: 0;
  }
}


.navbar-langSwitch{
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0;
  /* margin-right: 15px; */
  margin-top: 8px;
  z-index: -1;
  margin-bottom: 8px;
  transition: all 0.2s ease-in;
  transform: translateY(-120%);
  border-top:1px solid #f9f9f9;
  &-wrapper{z-index: -1;}
  &-inner{
    background: #fff;
    display: block;
    padding: 20px 35px 35px;
    min-height:  300px;
    max-width: 730px;
    margin: 0 0 0 auto;
    @media (max-width: 992px) {
      width: 100%;
      max-width: 100%;
    }
    a {
      width: 33%;
      text-transform: uppercase;
      @media (max-width: 767px) {
        width: 100%;
      }
      line-height: 35px;
      margin: 0!important;
      float: left;
      display: block;
      border: none;
      background: none;
      display: block;
      color: #333;
      &:hover, &:focus, &:active{
        color: $c-green--alt;
      }
    }
    @media (max-width: 767px) {
          padding: 10px 35px;
   }
  }
}



.navbar-toggle {
  position: absolute;
  top: 0px;
  right: 0;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  z-index: 999;

}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar {
  background-color: #cbcccc !important;
  height: 4px;
  border-radius: 2px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.site-header.open .navbar-toggle,
.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #3e3e3e;
}

.loaded .site-header__logo {opacity: 1;}
.site-header__logo {
    color: $c-green;
    font-family: $f-symbol-1;
    font-size: 32px;
    text-align: left;
    z-index: 4;
    line-height: 46px;
    height: 58px;
    width: 163px;
    padding: 7px 36px 3px;
    opacity: 0;
    transition: opacity 0.2s ease;
    position: absolute;
    left: 18%;
    background: #fff;

    // text-indent: -9999999px;
    // background: #fff url('client/images/wago_logo.png') center center no-repeat;
    // background-size: 111px;
    // background-color: #ffffff;
    // $svg-gradient-shim-threshold: 1 !global;

    // box-shadow: 0 0 6px 2px rgba(0,0,0,.18);
    cursor: default;
    @media (max-width: 992px) {
        left: 0;

    }
    @media (max-width: 767px) {
        width: 100%;
        background-position: 25px center;
    }

}



.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.contact-item__checkbox { display: none; }
