/*-------------------------------------*\
    Settings
\*-------------------------------------*/

/**
 *
 *
 **
 * Base
 * Implementation
 *

 *
 */


$max-site-width: 1280px;

$base-font-size:    16px !default;
$base-line-height:  1.618 !default;

$unit: $base-font-size * $base-line-height;

@function unit($ratio: 1) {
    @return $unit * $ratio;
}





/*-------------------------------------*\
    Implementation
\*-------------------------------------*/

/*---   Inuit CSS settings   ---*/

$inuit-base-font-size:          $base-font-size;
$inuit-base-line-height:        $unit;
$inuit-base-spacing-unit:       $unit;


// Color settings taken from colors in quarks/_colors.scss
$inuit-base-text-color:         $c-text;
$inuit-base-background-color:   $c-body;


/*  Spacing  */

$inuit-enable-margins:          false;
$inuit-enable-margins--none:    false;

$inuit-enable-paddings:         false;
$inuit-enable-paddings--none:   false;





