<!--[if lt IE 9]>
    <script>
        window.location = 'static';
    </script>
<![endif]-->

<header class="site-header"
    v-class="open:isHeaderOpen">
    <div class="site-header__logo">w</div>
    <nav class="site-header__nav">

        <a href="#kontakt"
           onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'top', 'kontakt']);"
           v-on="click:showContact" v-text="lang.header.contact"></a>

        <a href="http://www.wago.de/"
           onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'top', 'corporate website']);"
           v-text="lang.header.corporateWebsite"></a>
    </nav>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

     <div class="navbar-langSwitch-wrapper"  v-class="open: isLangSwitchOpen">
       <button class="lang-toggle"  v-on="click: isLangSwitchOpen=!isLangSwitchOpen"><div class="flag-icon" ></div></button>
         <div class="navbar-langSwitch"  >
         <div class="navbar-langSwitch-inner clearfix" v-html="lang.lang.headerSwitch" > </div>
       </div>
     </div>
</header>



<side-menu
     class="side-menu  hiding"
     v-class="closed: !isMenuOpen, hiding: isMenuHidden"
     v-with="isOpen:isMenuOpen, isHidden:isMenuHidden, lang: lang.sideMenu"
     v-ref="sideMenu"></side-menu>

<scroll-alias
    v-ref="scrollAlias" v-with="lang: lang.scrollAlias"></scroll-alias>


<canvas id="page_canvas"
    v-attr="width:geometry.w, height:geometry.h"></canvas>

<section class="canvas-container"
         v-style="height: geometry.h + ((frames.length + 8) * ratio) + 'px'">

    <div class="canvas-overlay " id="intro"
         -v-class="hiding: isOverlayHidden || pane != 'intro'"
         v-component="pane-intro"
         v-style="
              width: geometry.w + 'px',
              height: geometry.h + 'px',
              top: (stages.intro.mainFrame * ratio) + 'px',
    "></div>

    <pane-intro-stop class="canvas-overlay" id="introstop"
         -v-class="hiding:isOverlayHidden || pane != 'introstop'"
         v-with="lang : lang.introstop"
         v-style="
             width: geometry.w + 'px',
             height: geometry.h + 'px',
             top: (stages.introstop.mainFrame * ratio) + 'px',
         "></pane-intro-stop>

    <pane-clamp class="canvas-overlay" id="clamp"
         -v-class="hiding:isOverlayHidden || pane != 'clamp'"
         v-with="lang : lang.clamp"
         v-style="
            width: geometry.w + 'px',
            height: geometry.h + 'px',
            top: ((stages.clamp.mainFrame - sm.framesEarly) * ratio) + 'px',
         "></pane-clamp>

    <div class="canvas-overlay" id="leiterartenFadeExtras"
         v-style="
                  width: geometry.w + 'px',
                  height: geometry.h + 'px',
                  top: (fadeExtras.leiterarten.begin * ratio) + 'px'
         ">

        <div class="leiterarten-container">
            <div id="leiterartenTitle" class="leiterarten__title fade-item clear-fix" v-text="lang.leiterarten.fadeIns.leiterartenTitle"></div>
            <div id="eindrahtige" class="fade-item clear-fix">
                <img src="client/images/misc/leiterarten/eindrahtige.png" class="float-left" />
                <p class="extra" v-text="lang.leiterarten.fadeIns.eindrahtige"></p>
            </div>
            <div id="mehrdrahtige" class="fade-item clear-fix">
                <img src="client/images/misc/leiterarten/mehrdrahtige.png" class="float-left" />
                <p class="extra" v-text="lang.leiterarten.fadeIns.mehdrahtige"></p>
            </div>
            <div id="feindrahtige" class="fade-item clear-fix">
                <img src="client/images/misc/leiterarten/feindrahtige.png" class="float-left"/>
                <p class="extra" v-text="lang.leiterarten.fadeIns.feindrahtige"></p>
            </div>
            <div id="leiter" class="fade-item clear-fix">
                <img src="client/images/misc/leiterarten/leiter.png" class="float-left" />
                <p class="" v-text="lang.leiterarten.fadeIns.aderendhulse"></p>
            </div>
        </div>
    </div>

    <pane-universeller class="canvas-overlay" id="universeller"
         -v-class="hiding:isOverlayHidden || pane != 'universeller'"
         v-with="lang : lang.leiterarten"
         v-style="
            width: geometry.w + 'px',
            height: geometry.h + 'px',
            top: ((stages.universeller.mainFrame - sm.framesEarly) * ratio) + 'px',
         ">
    </pane-universeller>

    <pane-hohe class="canvas-overlay  hiding" id="hohe"
         v-class="hiding:isOverlayHidden || pane != 'hohe'"
         v-with="lang : lang.hohe"
         v-style="
            width: geometry.w + 'px',
            height: geometry.h + 'px',
            top: ((stages.hohe.mainFrame - sm.framesEarly) * ratio) + 'px',
         "></pane-hohe>

    <pane-multifunktionales class="canvas-overlay  hiding" id="multifunktionales"
         v-class="hiding:isOverlayHidden || pane != 'multifunktionales'"
         v-with="lang : lang.bruckerprogramm"
         v-style="
            width: geometry.w + 'px',
            height: geometry.h + 'px',
            top: ((stages.multifunktionales.mainFrame - sm.framesEarly) * ratio) + 'px',
         "></pane-multifunktionales>

    <pane-komfortable class="canvas-overlay  hiding" id="komfortable"
         v-class="hiding:isOverlayHidden || pane != 'komfortable'"
         v-component="pane-komfortable"
         v-with="lang : lang.komfortable"
         v-style="
            width: geometry.w + 'px',
            height: geometry.h + 'px',
            top: ((stages.komfortable.mainFrame - sm.framesEarly) * ratio) + 'px',
         "></pane-komfortable>

    <pane-moreinfo class="pane  pane--moreInfo" id="alle"
        v-class="hiding:isOverlayHidden || pane != 'moreInfo'"
        v-with="lang : lang.alle"
         v-style="
            width: geometry.w + 'px',
            height: geometry.h + 'px',
            top: (stages.moreInfo.mainFrame * ratio) + 'px',
        "></pane-moreinfo>

</section><!-- canvas-container -->

<section class="light-overlay"
    v-style="width: geometry.w + 'px',
             top: ((frames.length - 8) * ratio + geometry.h) + 'px'">

    <pane-contact  id="kontakt"              class="pane  pane--contact  clear-fix" v-with="lang: lang"></pane-contact>
    <pane-diamonds id="produktprogramm"      class="pane  pane--diamonds" v-with="downloads: lang.downloads, lang: lang.produktprogramm"></pane-diamonds>

    <footer class="site-footer">
        <section class="site-footer__social">
            <div class="container">
                <a
                   href="https://de-de.facebook.com/WagoKontakttechnik"
                   onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'Facebook', 'https://de-de.facebook.com/WagoKontakttechnik']);"
                   title="facebook" class="icon--facebook"></a>

                <a
                   href="https://twitter.com/wagokontakttech"
                   onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'Twitter', 'https://twitter.com/wagokontakttech']);"
                   title="twitter" class="icon--twitter"></a>

                <a
                   href="https://www.youtube.com/user/WagoKontakttechnik"
                   onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'Youtube', 'https://www.youtube.com/user/WagoKontakttechnik']);"
                   title="youtube" class="icon--youtube"></a>

                <a
                   href="https://www.xing.com/companies/wagokontakttechnikgmbh&co.kg"
                   onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'Xing', 'https://www.xing.com/companies/wagokontakttechnikgmbh&co.kg']);"
                   title="xing" class="icon--xing"></a>

                <a
                   href="https://www.linkedin.com/company/wago-kontakttechnik"
                   onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'LinkedIn', 'https://www.linkedin.com/company/wago-kontakttechnik']);"
                   title="linkedIn" class="icon--linkedin"></a>
            </div>
        </section>

        <section class="site-footer__newsletter-signup  container  clear-fix">
            <div class="1/2  float-left">
                <h3 v-text="lang.footer.newsletterTitle"></h3>
                <p v-text="lang.footer.newsletterText"></p>
            </div>

            <form class="float-right" action="http://scnem.com/art_resource.php">
                <input type="submit" v-attr="value: lang.footer.newsletterButton"
                       onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'enews', 'register']);"
                       class="button  button--neutral">
            </form>
        </section>

        <section class="site-footer__copyright  container  clear-fix">
            <small class="copyright  float-left" v-html="lang.footer.copyrightText"></small>
            <nav class="site-footer__nav  float-right">
                <a href="http://www.wago.de/wago/kontakt/minden/index.jsp" v-text="lang.footer.links.contact"></a>
                &middot;
                <a href="http://www.wago.de/wago/impressum/index.jsp" v-text="lang.footer.links.impressum"></a>
                &middot;
                <a href="http://www.wago.de/wago/impressum/rechtliche-hinweise/index.jsp" v-text="lang.footer.links.legalNotice"></a>
            </nav>
        </section>
    </footer><!-- site-footer -->
</section><!-- light-overlay -->
<info-modal v-with="lang: lang.modal"> </info-modal>
