<header class="site-header"
    v-class="open:isHeaderOpen">
    <div class="site-header__logo">w</div>
    <nav class="site-header__nav">
        <div class="site-header__nav__desktop">
          <a href="#kontakt" v-on="click:showContact" v-text="lang.header.contact"></a>
          <a href="http://www.wago.de/" v-text="lang.header.corporateWebsite"></a>
       </div>
        <div class="site-header__nav__mobile">
          <side-menu v-with="lang: lang.sideMenu"></side-menu>
       </div>
  </nav>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  </button>

  <div class="navbar-langSwitch-wrapper"  v-class="open: isLangSwitchOpen">
    <button class="lang-toggle"  v-on="click: isLangSwitchOpen=!isLangSwitchOpen"><div class="flag-icon" ></div></button>
      <div class="navbar-langSwitch"  >
      <div class="navbar-langSwitch-inner clearfix" v-html="lang.lang.headerSwitch" > </div>
    </div>
  </div>

  </header>



<side-menu
     class="side-menu  hiding"
     v-class="closed: !isMenuOpen, hiding: isMenuHidden"
     v-with="isOpen:isMenuOpen, isHidden:isMenuHidden, lang: lang.sideMenu"
     v-ref="sideMenu"></side-menu>

 <div class="__video"
     v-style="
        max-width: ((geometry.h - heightReducer) * (953/541) * 1.2) > 1280 ? '1280px' : ((geometry.h - heightReducer) * (953/541) * 1.2) + 'px',
        left: (geometry.w / 2 - video.w / 2) + 'px',
     ">
    <div id='playerB9iL3aKy'></div>
    <script type='text/javascript'>
        window._player = jwplayer('playerB9iL3aKy').setup({
            file: 'client/wago.mp4',
            image: 'client/images/end_frame.jpg',
            width: '100%',
            aspectratio: '16:9',
            autostart: true,
            mute: 'true',
            screencolor: '#333',
            wmode: 'transparent',
            // primary: 'flash',
        });
    </script>
</div>

<nav class="video-selector  clear-fix">
    <div class="video-selector__inner  clear-fix">
        <a data-pane="clamp" href="javascript:;" class="video-selector__item">
             <h3 v-html="lang.static.imageAnchors.clamp"></h3>
            <img src="client/images/more-info/clamp.jpg">
            <div class="arrow"></div>
        </a>

        <a data-pane="leiterarten" href="javascript:;" class="video-selector__item">
            <h3 v-html="lang.static.imageAnchors.leiterarten"></h3>
            <img src="client/images/more-info/leiterarten.jpg">
            <div class="arrow"></div>
        </a>

        <a data-pane="hohe" href="javascript:;" class="video-selector__item">
              <h3 v-html="lang.static.imageAnchors.hohe"></h3>
             <img src="client/images/more-info/hohe.jpg">
            <div class="arrow"></div>
        </a>

        <a data-pane="multifunktionales" href="javascript:;" class="video-selector__item">
            <h3 v-html="lang.static.imageAnchors.bruckerprogramm"></h3>
            <img src="client/images/more-info/bruckerprogramm.jpg">
            <div class="arrow"></div>
        </a>

        <a data-pane="komfortable" href="javascript:;" class="video-selector__item">
            <h3 v-html="lang.static.imageAnchors.schnelle"></h3>
            <img src="client/images/more-info/schnelle.jpg">
            <div class="arrow"></div>
        </a>
    </div>
</nav>

<pane-moreinfo class="pane  pane--moreInfo  pane--moreInfo--static  clear-fix" id="alle"
     -v-class="hiding:isOverlayHidden || pane != 'moreInfo'"
     v-with="lang : lang.alle"></pane-moreinfo>

<section class="light-overlay"
    v-style="
        width: geometry.w + 'px',
        position: 'static',
    ">

    <pane-contact  id="kontakt"              class="pane  pane--contact  clear-fix" v-with="lang: lang"></pane-contact>
    <pane-diamonds id="produktprogramm"      class="pane  pane--diamonds" v-with="downloads: lang.downloads, lang: lang.produktprogramm"></pane-diamonds>

    <footer class="site-footer">
        <section class="site-footer__social">
            <div class="container">
                <a href="https://de-de.facebook.com/WagoKontakttechnik" title="facebook" class="icon--facebook"></a>
                <a href="https://twitter.com/wagokontakttech" title="twitter" class="icon--twitter"></a>
                <a href="https://www.youtube.com/user/WagoKontakttechnik" title="youtube" class="icon--youtube"></a>
                <a href="https://www.xing.com/companies/wagokontakttechnikgmbh&co.kg" title="xing" class="icon--xing"></a>
                <a href="https://www.linkedin.com/company/wago-kontakttechnik" title="linkedIn" class="icon--linkedin"></a>
            </div>
        </section>

        <section class="site-footer__newsletter-signup  container  clear-fix">
            <div class="1/2  float-left">
                <h3 v-text="lang.footer.newsletterTitle"></h3>
                <p v-text="lang.footer.newsletterText"></p>
            </div>

            <form class="float-right" action="http://scnem.com/art_resource.php">
                <input type="submit" v-attr="value: lang.footer.newsletterButton"
                       class="button  button--neutral">
            </form>
        </section>

        <section class="site-footer__copyright  container  clear-fix">
            <small class="copyright  float-left" v-html="lang.footer.copyrightText"></small>
            <nav class="site-footer__nav  float-right">
                <a href="http://www.wago.de/wago/kontakt/minden/index.jsp" v-text="lang.footer.links.contact"></a>
                &middot;
                <a href="http://www.wago.de/wago/impressum/index.jsp" v-text="lang.footer.links.impressum"></a>
                &middot;
                <a href="http://www.wago.de/wago/impressum/rechtliche-hinweise/index.jsp" v-text="lang.footer.links.legalNotice"></a>
            </nav>
        </section>
    </footer><!-- site-footer -->
</section><!-- light-overlay -->

<info-modal v-with="lang: lang.modal"> </info-modal>
