/*-------------------------------------*\
    BUTTONS
\*-------------------------------------*/

/**
 * Buttons
 *
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

%button {
    color: #fff;
    font-size: 18px;
    line-height: 1.55;
    text-decoration: none;
    padding: 0 16px 0 14px;
    border: 0;
    display: inline-block;

    cursor: pointer;

    background: $c-green--alt;
    $svg-gradient-shim-threshold: 1 !global;
    @include background-image(linear-gradient(to bottom, tint($c-green--alt,15%), shade($c-green--alt,12%) 100%));

    span {
        position: relative;
        top: -.1em;
        right: .15em;
    }
}




/*-------------------------------------*\
    Isotopes
\*-------------------------------------*/

.button--neutral {
    background: $c-gray--darker;
    $svg-gradient-shim-threshold: 1 !global;
    @include background-image(linear-gradient(to bottom, tint($c-gray--darker,15%), shade($c-gray--darker,12%) 100%));
}

.button.disabled {
    opacity: .45;
    pointer-events: none;
}





/*-------------------------------------*\
    Implementation
\*-------------------------------------*/

.button { @extend %button !optional; }





