/*-------------------------------------*\
    FORMS
\*-------------------------------------*/

/**
 * Forms
 *
 * Styles for forms and form-related elements.
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

input[type=text],
input[type=email],
.text-input {
    font-size: 1.1em;
    width: 55%;
    line-height: 36px;
    height: 40px; // Line-height just isn't good enough for IE
    border: 2px solid $c-gray--lighter;
    padding: 0 8px;
    margin: 0px 0px 5px 0px;

    float: left;
}

label {
    font-family: $f-arial;
    font-size: 16px;
    text-align: right;
    line-height: 40px;
    width: 31%;
    margin-right: 5%;

    float: left;

    &.required {

        &:before {
            content: "*";
            color: #bf3030;
        }
    }
}






/*-------------------------------------*\
    Isotopes
\*-------------------------------------*/





/*-------------------------------------*\
    Implementation
\*-------------------------------------*/
