/*-------------------------------------*\
    HEADINGS
\*-------------------------------------*/

/**
 * Headings
 *
 *
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

%heading {
    font-family: $f-futura;
}

    %alpha {
        @extend %heading !optional;

        text-transform: uppercase;
        font-size: 46px;
        line-height: 1.06;
        margin-bottom: 16px;
    }

    %beta {
        @extend %heading !optional;

        &.title {
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 8px;
            border-bottom: 6px solid $c-brand;
            margin-bottom: 15px;
        }
    }

    %gamma {
        @extend %heading !optional;

        font-size: 22px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: .785em;
    }

    %delta {
        @extend %heading !optional;

    }

    %epsilon {
        @extend %heading !optional;

        color: $c-brand;
        font-family: $f-arial;
        font-size: 22px;
        font-weight: normal;
        line-height: 1.4;
        margin-bottom: 0;
    }

    %zeta {
        @extend %heading !optional;

    }





/*-------------------------------------*\
    Isotopes
\*-------------------------------------*/





/*-------------------------------------*\
    Implementation
\*-------------------------------------*/

.heading            { @extend %heading !optional; }
    .alpha, h1      { @extend %alpha !optional; }
    .beta, h2       { @extend %beta !optional; }
    .gamma, h3      { @extend %gamma !optional; }
    .delta, h4      { @extend %delta !optional; }
    .epsilon, h5    { @extend %epsilon !optional; }
    .theta, h6      { @extend %theta !optional; }






