/*-------------------------------------*\
    TYPE
\*-------------------------------------*/

/**
 * Type
 *
 * All typographical related elements and styles
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

%paragraph {
    font-size: 14px;
    font-family: $f-arial;

    &.title {
        font-family: $f-futura;
    }
}

%strong {
    font-weight: 500;
}

%emphasis {
}

%small {
}

%subscript {
}

%superscript {
}





/*-------------------------------------*\
    Isotopes
\*-------------------------------------*/





/*-------------------------------------*\
    Implementation
\*-------------------------------------*/

/* %content-area */ p { @extend %paragraph !optional; }
/* %content-area */ strong { @extend %strong !optional; }
/* %content-area */ em { @extend %emphasis !optional; }
/* %content-area */ small { @extend %small !optional; }
/* %content-area */ sub { @extend %subscript !optional; }
/* %content-area */ sup { @extend %superscript !optional; }





