{{! <!--}}
<script type="x-template" id="vue-tmpl__pane-alle">
{{! --> }}
<div class="pane  pane--alle">
<!--
    <section class="info-modal">
        <h2 class="info-modal__title  float-left" v-text="lang.title"></h2>
        <h1 class="mondo  clear" v-html="lang.heading"></h1>
        <p class="info-modal__content" v-html="lang.content"></p>


    </section>
-->
</div>
{{! <!--}}
</script>
{{! --> }}

