{{! <!--}}
<script type="x-template" id="vue-tmpl__pane-clamp">
{{! --> }}
<div class="pane  pane--clamp" v-style="left: ($parent.geometry.w * -1) + 'px'">
    <section class="pane__modal">
        <div class="js-sm-title"
             v-style="
                transform: 'translate(' + ($parent.geometry.w * 3) + 'px, ' + ($parent.geometry.w * -1) + 'px)',
             ">
            <h2 class="title  float-left" v-html="lang.title"></h2>
            <h1 class="mondo  clear" v-html="lang.heading"></h1>
        </div><!-- js-sm-title -->

        <div class="js-sm-body"
             v-style="
                transform: 'translate(' + ($parent.geometry.w * 2) + 'px, ' + ($parent.geometry.h * 2) + 'px)',
             ">
            <p class="content" v-html="lang.content"></p>
        </div><!-- js-sm-body -->

        <a class="modal__button  button float-right" href="javascript:void(0)" v-on="click:$parent.toggleModal('clamp');" v-text="lang.buttonText">
        </a>
    </section>
</div>
{{! <!--}}
</script>
{{! --> }}
