{{! <!--}}
<script type="x-template" id="vue-tmpl__pane-contact">
{{! --> }}
<div class="container">
    <h3 class="contact__subtitle" v-html="lang.contact.introLineOne"></h3>
    <h2 class="contact__title"  v-html="lang.contact.introLineTwo">

    </h2>

    <div class="buttons-container clearfix">
        <a class="button" href="javascript:void(0);"
           v-on="click:isMuster=false" v-html="lang.contact.buttonContact"></a>
        <a class="button" href="javascript:void(0);"
           v-on="click:isMuster=true"  v-html="lang.contact.buttonSample"></a>
    </div>
</div><!-- container -->

<contact-form
    class="contact-item  contact-form  hiding  clear-fix  container"
    v-class="hiding:!isContactFormVisible,contact-item--muster:isMuster"
    v-with="isHidden:isContactFormVisiblem,isMuster:isMuster, lang: lang.contact"
    v-ref="contactForm"></contact-form>

{{!--
<div class="container  static-buttons">
    <a class="button" href="http://www.wago.de/service/partner/elektrogrosshaendler/umkreissuche/index.jsp"><span>&raquo;</span> Großhandel</a>
    <a class="button" href="http://www.wago.de/service/support-hotlines/technischer-support-automation/index.jsp"><span>&raquo;</span> Ansprechpartner</a>
</div>
--}}
{{! <!--}}
</script>
{{! --> }}
