{{! <!--}}
<script type="x-template" id="vue-tmpl__pane-diamonds">
{{! --> }}
<section class="container  clear-fix">

    <section class="produktprogramm  clear-fix">
        <h1>TOPJOB<sup>®</sup>S \{{lang.title}}</h1>

        <ul class="products-list  clear-fix">
            <li
                onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'produktprogramm', 'http://www.wago.de/produkte/produktkatalog/reihenklemmensysteme/reihenklemmen-topjob-s/durchgangsklemmen/index.jsp']);"
                v-on="click:go('http://www.wago.de/produkte/produktkatalog/reihenklemmensysteme/reihenklemmen-topjob-s/durchgangsklemmen/index.jsp')">
                <img src="client/images/produkts/DK_bg.jpg"
                     class="products-list__image">

                <h5 class="products-list__name" v-text="lang.durch"></h5>
                <a class="products-list__shop-link"
                    onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'produktprogramm', 'http://www.wago.de/produkte/produktkatalog/reihenklemmensysteme/reihenklemmen-topjob-s/durchgangsklemmen/index.jsp']);"
                   href="http://www.wago.de/produkte/produktkatalog/reihenklemmensysteme/reihenklemmen-topjob-s/durchgangsklemmen/index.jsp" target="_blank"><span>&raquo;</span> zum Produkt</a>
            </li>
            <li
                onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'produktprogramm', 'http://www.wago.de/produkte/produktkatalog/reihenklemmensysteme/reihenklemmen-topjob-s/funktionsklemmen/index.jsp']);"
                v-on="click:go('http://www.wago.de/produkte/produktkatalog/reihenklemmensysteme/reihenklemmen-topjob-s/funktionsklemmen/index.jsp')">
                <img src="client/images/produkts/FK_bg.jpg"
                     class="products-list__image">

                <h5 class="products-list__name" v-text="lang.funk"></h5>
                <a class="products-list__shop-link"
                onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'produktprogramm', 'http://www.wago.de/produkte/produktkatalog/reihenklemmensysteme/reihenklemmen-topjob-s/funktionsklemmen/index.jsp']);"
                   href="http://www.wago.de/produkte/produktkatalog/reihenklemmensysteme/reihenklemmen-topjob-s/funktionsklemmen/index.jsp" target="_blank"><span>&raquo;</span> zum Produkt</a>
            </li>
            <li
                onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'produktprogramm', 'http://www.wago.de/produkte/produktkatalog/reihenklemmensysteme/reihenklemmen-topjob-s/installationsklemmen/index.jsp']);"
                v-on="click:go('http://www.wago.de/produkte/produktkatalog/reihenklemmensysteme/reihenklemmen-topjob-s/installationsklemmen/index.jsp')">
                <img src="client/images/produkts/IK_bg.jpg"
                     class="products-list__image">

                <h5 class="products-list__name" v-text="lang.install"></h5>
                <a class="products-list__shop-link"
                    onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'produktprogramm', 'http://www.wago.de/produkte/produktkatalog/reihenklemmensysteme/reihenklemmen-topjob-s/installationsklemmen/index.jsp']);"
                   href="http://www.wago.de/produkte/produktkatalog/reihenklemmensysteme/reihenklemmen-topjob-s/installationsklemmen/index.jsp" target="_blank"><span>&raquo;</span> zum Produkt</a>
            </li>
            <li
                onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'produktprogramm', 'http://www.wago.de/produkte/produktkatalog/reihenklemmensysteme/reihenklemmen-topjob-s/kleinverteiler-sets/index.jsp']);"
                v-on="click:go('http://www.wago.de/produkte/produktkatalog/reihenklemmensysteme/reihenklemmen-topjob-s/kleinverteiler-sets/index.jsp')">
                <img src="client/images/produkts/KV_bg.jpg"
                     class="products-list__image">

                <h5 class="products-list__name" v-text="lang.verteiler"></h5>
                <a class="products-list__shop-link"
                    onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'produktprogramm', 'http://www.wago.de/produkte/produktkatalog/reihenklemmensysteme/reihenklemmen-topjob-s/kleinverteiler-sets/index.jsp']);"
                   href="http://www.wago.de/produkte/produktkatalog/reihenklemmensysteme/reihenklemmen-topjob-s/kleinverteiler-sets/index.jsp" target="_blank"><span>&raquo;</span> zum Produkt</a>
            </li>
        </ul>
    </section><!-- productprogramm -->

    <section id="downloads" class="downloads  clear-fix">
        <h1>Downloads</h1>

        <ul class="download-list">
            <li v-repeat="download:downloads.all"
                v-on="click:go(download.link)"
                onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'downloads', '\{{download.link}}']);"
                data-toggle="popover" data-placement="top" data-content="<img src='\{{download.thumbnail}}' />"
                >
                <h5 class="download-list__title" v-text="download.title"></h5>
                - <span v-html="download.text"></span>

                <div class="download-list__link">
                <span class="icon--download"></span>
                <a
                   v-attr="href: download.link"
                   onclick="_gaq.push(['_trackEvent', 'op_topjobs', 'downloads', '\{{download.link}}']);">
                    Download (\{{ download.type }}, \{{ download.fileSize }})
                </a>
                </div>
            </li>
        </ul>
    </section><!-- downloads -->

</section><!-- container -->
{{! <!--}}
</script>
{{! --> }}
