{{! <!--}}
<script type="x-template" id="vue-tmpl__pane-intro-stop">
{{! --> }}
<div class="pane  pane--intro-stop">

    <h1 class="logo-text-lg" v-html="lang.logoText">Test</h1>

    <aside>
        <p class="title" v-html="lang.aside.title">a</p>
        <p v-html="lang.aside.text">b</p>
    </aside>
</div>
{{! <!--}}
</script>
{{! --> }}
