{{! <!--}}
<script type="x-template" id="vue-tmpl__pane-moreInfo">
{{! --> }}
<div class="container">
    <h2 class="title  float-left" v-text="lang.title"></h2>
    <h1 class="mondo  clear" v-html="lang.heading"></h1>

    <p class="info-modal__content" v-html="lang.content"></p>

    <div class="info-modal__image-container"
         v-style="
            width:($parent.frameDimensions.width * 0.2705) + 'px',
            left: ($parent.frameDimensions.width * 0.015) + 'px',
        ">
        <img src="client/images/misc/WAGO_device_c.png" class="device-image">

        {{!--
        <img src="client/images/misc/WAGO_device_c.png" id="swipe_device"
             class="device-image"
             v-style="
                position: 'absolute',
                bottom: (314 + ($parent.frameDimensions.width * 0.2705 * 1.31282) + $parent.frameDimensions.diff + $parent.frameDimensions.height * .23) + 'px',
             ">
        --}}

        <pop-out class="__toggle-1  right  open-top" v-with="name: 'push-in cage clamp'">
            <div v-html="lang.toggle1"></div>
            <span v-html="lang.clamp"></span>
        </pop-out>

        <pop-out class="__toggle-2" v-with="name: 'leiterarten'">
            <div v-html="lang.toggle2"></div>
            <span v-html="lang.leiterarten"></span>
        </pop-out>

        <pop-out class="__toggle-3  right" v-with="name: 'Brückerprogramm'">
            <div v-html="lang.toggle3"></div>
            <span v-html="lang.bruckerprogramm"></span>
        </pop-out>

        <pop-out class="__toggle-5" v-with="name: 'sicherheitsreserven'">
            <div v-html="lang.toggle5"></div>
            <span v-html="lang.hohe"></span>
        </pop-out>

        <pop-out class="__toggle-4" v-with="name: 'beschriftung'">
            <div v-html="lang.toggle4"></div>
            <span v-html="lang.beschriftung"></span>
        </pop-out>
    </div>
</div><!-- container -->
{{! <!--}}
</script>
{{! --> }}
