/*-------------------------------------*\
    $DOWNLOAD LIST
\*-------------------------------------*/

/**
 * Download List
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

.download-list {
    @extend %list--plain !optional;

    font-family: $f-arial;
    font-size: 14px;

    li {
        line-height: 45px;
        padding: 0 10px;
        margin-bottom: 5px;

        background: rgba(0,0,0,.1);

        cursor: pointer;

        &:hover {

            .download-list__link {
                text-decoration: underline;
            }
        }
    }
}

    .download-list__title {
        color: $c-gray--darkest;
        font-size: 15px;
        font-weight: 600;
        margin-right: 0.5em;
        display: inline;
    }

    .download-list__link {
        color: $c-brand;
        line-height: 45px;
        margin-right: 8%;
        float: none;
        @media (min-width: 1084px) {
            float: right;
        }

        a {
            color: $c-brand;
            text-decoration: none;
        }
    }
