/*-------------------------------------*\
    $GRID MODAL
\*-------------------------------------*/

/**
 * Grid Modal
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

.grid-modal {

    > header {
        margin-bottom: 20px;
        overflow: hidden;
    }
}

    .grid-modal__header__image {
        width: 142px;
        margin: 0 25px 20px 0;

        @media (max-width: 1080px) {
            max-width: 20%;
        }

        @media (max-height: 880px) and (max-width: 1150px), (max-height: 800px) {
            max-width: 8%;
            margin: 0 25px 10px 0;
            // position: absolute;
            // top: -66px;
            // right: 20px;
        }
    }

    .grid-modal__header__text {
        min-width: 50%;
        overflow: hidden; // Keepin' it square

        @media (max-height: 880px) and (max-width: 1150px), (max-height: 800px) {
            width: 100%;
            font-size: 12px;
            line-height: 1.614;
        }
    }

    .grid-modal__features {
        $s-width: 50%;
        $s-margin: 2%;

        @extend %list--plain !optional;

        margin-left: -$s-margin;

        li {
            float: left;
            width: $s-width - $s-margin;

            @media (max-width: 1080px) {
                width: 100%;
            }

            min-height: 145px;
            padding-top: 6px;
            border-top: 1px solid #d3d3d3;
            border-top-color: rgba(222, 222, 222, 0.4);
            margin: 0 0 15px $s-margin;

            @media (max-height: 880px) and (max-width: 1150px), (max-height: 800px) {
                min-height: 100px;
            }

            > .media__img {
                width: 25%;

                @media (max-height: 880px) and (max-width: 1150px), (max-height: 800px) {
                    width: 18%;
                    margin-right: .5em;
                }
            }

            strong, h3 {
                font-weight: 600;
            }

            h3 {
                color: $c-brand;
                margin-bottom: 4px;

                @media (max-height: 880px) and (max-width: 1150px), (max-height: 800px) {
                    font-size: 18px;
                }
                @media (max-width: 1020px) {
                    font-size: 22px;
                }
            }

            p {
                font-size: 13px;
                line-height: 1.345;
            }
        }
    }


    .double-border {
        border-top: 4px solid $c-brand !important;
        position: relative;
        top: -3px;
    }
