/*-------------------------------------*\
    $MEDIA
\*-------------------------------------*/

/**
 * Media
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

.media,
%media {
    @extend %clear-fix;
    display: block;
}

    %media__img,
    .media__img {
        float: left;
        margin-right: 1em;
        display: block;

        > img {
            display: block;
        }
    }

    .media__body,
    %media__body {
        overflow: hidden;
        display: block;

        &,
        > :last-child {
            margin-bottom: 0;
        }
    }





