/*-------------------------------------*\
    $PANE
\*-------------------------------------*/

/**
 * Panel
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */
.pane {
    display: block;
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100vh;
    min-height: 515px;

    position: relative;
}

.pane__modal {
    width: 546px;
    padding: 16px 25px 30px;
    display: block;
    position: absolute;
    top: 146px;
    right: 16%;
    background: rgba(0,0,0, .65);
    
    @media (max-height: 880px) and (max-width: 1150px), (max-height: 800px) {
        width: 490px;
        right: 5%;
    }
    
    .title {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 8px;
        border-bottom: 6px solid $c-green;
        margin-bottom: 15px;
    }

    .content {
        font-family: $f-futura;
        font-size: 19px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 16px;
    }

    .button {
        text-align: right;
    }
    
    .mondo {
        font-size: 46px;
        line-height: 1.05;
        margin-bottom: 16px;
        
        @media (max-height: 880px) and (max-width: 1150px), (max-height: 800px) {
            font-size: 40px;
        }
    }
}



    



