/*-------------------------------------*\
    $POPOUT
\*-------------------------------------*/

/**
 * Pop Out
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

%popout,
.popout,
pop-out {
    position: relative;
    $s: 50px;
    width: $s;
    height: $s;

    > .open {
        position: relative;
        z-index: 8;
    }
}

    .popout__container {
    }

    .popout__button {
        color: #fff;
        font-size: 2.5em;
        font-weight: 500;
        text-align: center;
        text-decoration: none;

        outline: 0;

        $s: 50px;
        width: 50px;
        line-height: 50px;

        background-color: $c-brand; // MY BRAND!!!
        display: block;
        opacity: 0.9;
        cursor: pointer;

        position: relative;
        z-index: 4;

        border-radius: 50%;

        transition: all 120ms ease-in-out;

        &:hover {
            transform: scale(1.5);
        }

        pop-out > .open > &,
        .popout > .open > & {
            opacity: .8;
            background-color: #1379b7;

            transform: rotate(45deg);
        }
    }

    .popout__label {
        @media (max-width: 992px) {
            display: none!important;
        }
        $d: 200px;

        font-family: $f-arial;
        font-size: 17px;
        line-height: 50px;
        position: absolute;
        top: 0;
        right: $d + 55px;

        white-space: nowrap;

        &:after {
            content: "\2022";
            font-size: 1.48em;
            position: relative;
            top: 3px;
        }

        &:before {
            content: "";
            width: $d;
            height: 0;
            border-bottom: 1px solid;

            display: block;
            position: absolute;
            top: 27px;
            left: 92%;
            left: calc(100% - 6px);
        }

        span {
            position: relative;
            bottom: 2px;
        }

        .right & {
            right: auto;
            left: $d + 55px;

            &:before {
                content: "\2022";
                font-size: 1.48em;
                width: auto;
                height: auto;
                border: 0;

                display: inline;
                position: relative;
                top: 2px;
                left: auto;
            }

            &:after {
                content: "";
                width: $d;
                height: 0;
                border-bottom: 1px solid;

                display: block;
                position: absolute;
                top: 27px;
                right: 92%;
                right: calc(100% - 6px);
                left: auto;
            }
        }
    }

    .popout__content {
        color: $c-gray--darkest;
        font-family: $f-arial;
        font-size: 14px;
        min-width: 600px;
        min-height: 35px;
        padding: 10px;
        border: 1px solid $c-brand;

        $s-arrow: 24px;
        $d-offset: 30%;

        background: #fff;
        position: relative;
        top: $s-arrow + 5px;
        right: 180px;
        display: block;
        z-index: 2;

        opacity: 0;
        pointer-events: none;
        transform: translateY(-25%);

        transition: all 120ms ease-in-out;

        .ie & {
            top: $s-arrow + 55px;
        }

        pop-out > .open > &,
        .popout > .open > & {
            opacity: 0.999999;
            pointer-events: initial;
            transform: initial;
            // display: block;
        }

        pop-out.right &,
        .popout.right & {
            right: 385px;

            &:after,
            &:before {
                left: auto;
                right: 30%;
            }
        }

        // Do these styles belong here?
        // Probably not
        .media__img {
            width: 30%;
        }

        &:after,
        &:before {
            content: "";
            width: 0;
            height: 0;

            display: block;
            position: absolute;
            bottom: 100%;
            left: $d-offset;
        }

        &:before {
            border: $s-arrow solid transparent;
            border-bottom: $s-arrow solid $c-brand;
        }

        &:after {
            border: ($s-arrow - 2px) solid transparent;
            border-bottom: ($s-arrow - 2px) solid #fff;
            margin: 0 2px;
        }
    }

    .open-top .popout__content {
        top: -300px;

        $s-arrow: 24px;

        &:after,
        &:before {
            bottom: auto;
            top: 100%;
        }

        &:before {
            border: $s-arrow solid transparent;
            border-top: $s-arrow solid $c-brand;
        }

        &:after {
            border: ($s-arrow - 2px) solid transparent;
            border-top: ($s-arrow - 2px) solid #fff;
        }
    }


// pop-out.plus,
// .popout--plus {
// }





