/*-------------------------------------*\
    $PRODUCTS LIST
\*-------------------------------------*/

/**
 * Product List
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

.products-list {
    $s-margin: 2%;

    @extend %list--plain !optional;

    font-family: $f-arial;
    margin-right: -$s-margin;

    li {
        text-align: center;

        $s: 25%;

        width: $s - $s-margin;
        padding-top: $s -$s-margin;
        margin-right: $s-margin;


        @media (max-width: 767px) {
            $s-margin: 4%;
            $s: 50%;
            width: $s - $s-margin;
            padding-top: $s -$s-margin;
            margin-right: $s-margin;
            margin-bottom: 25px;
        }
        @media (max-width: 480px) {
          width: 100%;
          margin-right: 0;
          position: relative;
          padding: 0;
          .products-list__image{
            position: relative;
            padding: 0;
          }
        }

        overflow: hidden;
        position: relative;
        float: left;

        // Removed, at least for now because the images don't have a transparent
        // background. :/
        //
        background: rgba(0,0,0,.1);

        cursor: pointer;

        transition: all 160ms ease-in-out;

        &:before {
            content: "";
            width: 100%;
            height: 0;
            padding-top: 100%;

            background: $c-brand;

            opacity: 0;

            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;

            transition: all 140ms ease-in-out;
        }

        &:hover {
            &:before {
                opacity: 0.9999;
            }

            .products-list__image {
                opacity: 0;
            }

            .products-list__name {
                color: #fff;
                bottom: 58%;
            }

            .products-list__shop-link {
                color: #fff;
                opacity: 0.99999;
                bottom: 32%;
            }
        }

        &:first-child {
            .products-list__image {
                // padding-top: 80px;
            }
        }
    }
}

    .products-list__name,
    .products-list__shop-link,
    .products-list__image {
        position: absolute;
        left: 0;
        z-index: 3;

        transition: all 140ms ease-in-out;
    }

    .products-list__image {
        width: 100%;
        // padding: 20px 6.5%;

        margin: 0 auto;

        top: 0;
        z-index: 1;

        opacity: 0.99999;
    }

    .products-list__name {
        color: $c-gray--darkest;
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        @media (max-width: 992px) {
          font-size: 11px;

        }
        bottom: 22px;
    }

    .products-list__shop-link {
        font-size: 18px;
        text-decoration: none;
        width: 100%;

        display: block;
        bottom: -30px;
        opacity: 0;
    }
