/*-------------------------------------*\
    $SCROLL ALIAS
\*-------------------------------------*/

/**
 * Scroll Alias
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

%scroll-alias,
.scroll-alias,
 scroll-alias {
    color: $c-gray--dark;
    font-family: $f-arial;
    font-size: 13px;
    text-align: center;
    width: 100%;

    position: fixed;
    z-index: 11;
    bottom: 0;

    cursor: pointer;
}

    %scroll-alias__container,
    .scroll-alias__container {
        width: 100%;
        padding-bottom: 26px;
        padding-bottom: 26px;

        transition: all 180ms ease;
        transform: translateY(0);
        opacity: 0.99999;

        &.hiding {
            transform: translateY(-10px);
        }

        hr {
            width: 200px;
            height: 0;
            padding: 0;
            border: 0;
            border-bottom: 2px solid $c-brand;
            margin: 0 auto;
        }
    }

        %scroll-alias__text,
        .scroll-alias__text {
            transition: all 180ms ease;
            opacity: 0.9999;
        }

        %scroll-alias__arrow,
        .scroll-alias__arrow {
            width: 24px;
            height: 30px;
            margin: 0 auto;

            position: relative;
            overflow: hidden;

            transition: all 200ms ease-in-out;

            $s-border: 12px;

            &:before {
                $svg-gradient-shim-threshold: 1 !global;

                content: "";
                display: block;
                width:  24px;
                height: 12px;

                background: url('client/images/arrow_thin.png') no-repeat top center;

                // background-position: 0 0;

                overflow: hidden;
                position: absolute;
                bottom: 0;
                left: 0px;

                border-radius: 2px;

                transition: all 200ms ease-in-out;
                transform: translateY(-50px);
            }

            .scroll-alias__container.hovering & {

                &:before {
                    animation: HOVER_ARROW 2.75s 6 ease-in-out;
                }
                .scroll-alias__rope {
                    animation: HOVER_ROPE 2.75s 6 ease-in-out;
                }

            }

            &.down,
            .scroll-alias__container:hover &,
            .scroll-alias__container:active &,
            .scroll-alias__container:focus &,
            &:hover,
            &:active,
            &:focus {

                &:before {
                    animation: HOVER_ARROW 2.75s 6 ease-in-out;
                }
                .scroll-alias__rope {
                    animation: HOVER_ROPE 2.75s 6 ease-in-out;
                }

                &:before {
                    transform: translateY(0);
                }
            }
        }

            %scroll-alias__rope,
            .scroll-alias__rope {
                width: 2px;
                height: 18px;
                margin: 0 auto;

                display: block;
                position: absolute;
                left: 11px;
                bottom: 12px;

                transition: all 200ms ease-in-out;
                transform: translateY(-50px);

                &.show {
                    background: $c-brand;
                }

                .down & {
                    transform: translateY(0);
                }

                .scroll-alias__container:hover &,
                .scroll-alias__container:active &,
                .scroll-alias__container:focus &,
                &:hover,
                &:active,
                &:focus {
                    background: $c-brand;
                    transform: translateY(0);
                }
            }





