/*-------------------------------------*\
    $VIDEOSELECTOR
\*-------------------------------------*/

/**
 * Video Selector
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

$s-gutter: 2%;

.video-selector {
    $s-p: 10%;
    padding: 20px ($s-p - $s-gutter) 20px $s-p;
    margin-top: 35px;

    background: #eee;
    @media (max-width: 992px) {
     padding-bottom: 70px;
    }
}

    .video-selector__inner {
        position: relative;
    }
    .video-selector__item {
        color: $c-brand;
        text-decoration: none;
        width: 20% - $s-gutter;

        display: block;
        float: left;
        margin-right: $s-gutter;

        h3 {
            font-size: 18px;
        }

        img {
            max-width: 100%;
            border: 0;
        }

        &.active {
            img {
                border: 2px solid;
                box-shadow: 0 0 0 2px, 0 0 3px 2px;
            }
            @media (max-width: 992px) {
                h3{
                    background: $c-green--alt;
                    color: #fff;
                    position: absolute;
                    left: 0;
                    display: block;
                    top: 100%;
                    margin-top: 13px;
                    width: 98%;
                    font-size: 15px;
                    // position: absolute;
                    padding: 5px 10px 8px 10px;

                }
                .arrow {
                    position: relative;
                    &:before {
                        content: "";
                        width: 0;
                        height: 0;
                        border-right: 1em solid transparent;
                        border-bottom: 1em solid $c-green--alt;
                        border-left: 1em solid transparent;
                        display: block;

                        position: absolute;
                        bottom: -1.2em;
                        left: 50%;
                        margin-left: -14px;

                        // transition: all .3s ease-in-out;
                    }
                }
            }
        }


    }

@media (max-width: 1618px) {
    .video-selector__item h3 {
        font-size: 16px;
    }
}

@media (max-width: 1440px) {
    .video-selector__item h3 {
        font-size: 14px;
    }
}

@media (max-width: 1262px) {
    .video-selector__item h3 {
        font-size: 12px;
        min-height: 30px;
    }
}

@media (max-width: 992px) {
    .video-selector__item h3 {
        font-size: 11px;
        display: none;
    }
}
