/*-------------------------------------*\
    ANIMATIONS
\*-------------------------------------*/

/**
 * Animations
 *
 *
 *

 *
 */


@mixin keyframe ($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}




@include keyframe('HOVER') {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@include keyframe('HOVER_ARROW') {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 10px;
    }
}

@include keyframe('HOVER_ROPE') {
    0% {
        bottom: 12px;
    }

    50% {
        bottom: 22px;
    }
}





