/*-------------------------------------*\
    COLORS
\*-------------------------------------*/

/**
 * Colors
 *
 * All the global colors used throughout
 *
 **
 * Base
 *
 *

    [lightest]  [brightest]
    [lighter]   [brighter]
    [light]     [bright]
        --- base ---
    [dark]      [dull]
    [darker]    [duller]
    [darkest]   [dullest]

 *
 * Name Pattern:
 *  c-[name]--[modifier]
 *
 */



/*-------------------------------------*\
    Base Colors
\*-------------------------------------*/

/*---  Grays  ---*/

$c-gray--lightest:  #ddd;
$c-gray--lighter:   #ccc;
$c-gray--light:     #d9d8d8;

$c-gray:            #d4d4d4;

$c-gray--dark:      #bdbdbd;
$c-gray--darker:    #3e3e3c;
$c-gray--darkest:   #333;



/*---  Greens  ---*/

$c-green:            #57aa53;
$c-green--alt:       #58ac54;





/*-------------------------------------*\
    Site Colors
\*-------------------------------------*/

$c-text:    #fff;
$c-body:    $c-gray--darkest;

$c-brand:   $c-green;





