/*-------------------------------------*\
    FONTS
\*-------------------------------------*/

/**
 * Fonts
 *
 **
 * Imports
 * Stacks
 *

 *
 */


/*-------------------------------------*\
    Imports
\*-------------------------------------*/

/* ---   futura   --- */
@font-face {
    font-family: 'futura';
    src: url('/assets/fonts/futura/futura-webfont.eot');
    src: url('/assets/fonts/futura/futura-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/futura/futura-webfont.woff2') format('woff2'),
         url('/assets/fonts/futura/futura-webfont.woff') format('woff'),
         url('/assets/fonts/futura/futura-webfont.ttf') format('truetype'),
         url('/assets/fonts/futura/futura-webfont.svg#wagofuturaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura';
    src: url('/assets/fonts/futura/futura-italic-webfont.eot');
    src: url('/assets/fonts/futura/futura-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/futura/futura-italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/futura/futura-italic-webfont.woff') format('woff'),
         url('/assets/fonts/futura/futura-italic-webfont.ttf') format('truetype'),
         url('/assets/fonts/futura/futura-italic-webfont.svg#wagofuturaitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'futura';
    src: url('/assets/fonts/futura/futura-semibold-webfont.eot');
    src: url('/assets/fonts/futura/futura-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/futura/futura-semibold-webfont.woff2') format('woff2'),
         url('/assets/fonts/futura/futura-semibold-webfont.woff') format('woff'),
         url('/assets/fonts/futura/futura-semibold-webfont.ttf') format('truetype'),
         url('/assets/fonts/futura/futura-semibold-webfont.svg#wagofuturademi') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'futura';
    src: url('/assets/fonts/futura/futura-semibold-italic-webfont.eot');
    src: url('/assets/fonts/futura/futura-semibold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/futura/futura-semibold-italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/futura/futura-semibold-italic-webfont.woff') format('woff'),
         url('/assets/fonts/futura/futura-semibold-italic-webfont.ttf') format('truetype'),
         url('/assets/fonts/futura/futura-semibold-italic-webfont.svg#wagofuturademi_oblique') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'futura';
    src: url('/assets/fonts/futura/futura-bold-webfont.eot');
    src: url('/assets/fonts/futura/futura-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/futura/futura-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/futura/futura-bold-webfont.woff') format('woff'),
         url('/assets/fonts/futura/futura-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/futura/futura-bold-webfont.svg#wagofuturabold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'futura';
    src: url('/assets/fonts/futura/futura-bold-italic-webfont.eot');
    src: url('/assets/fonts/futura/futura-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/futura/futura-bold-italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/futura/futura-bold-italic-webfont.woff') format('woff'),
         url('/assets/fonts/futura/futura-bold-italic-webfont.ttf') format('truetype'),
         url('/assets/fonts/futura/futura-bold-italic-webfont.svg#wagofuturabold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}



/*---  social icons  ---*/

@font-face {
    font-family: 'social-icons';
    src: url('/assets/fonts/social/icons.eot?-oxky6g');
    src: url('/assets/fonts/social/icons.eot?#iefix-oxky6g') format('embedded-opentype'),
         url('/assets/fonts/social/icons.woff?-oxky6g') format('woff'),
         url('/assets/fonts/social/icons.ttf?-oxky6g') format('truetype'),
         url('/assets/fonts/social/icons.svg?-oxky6g#aifit-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}




/* ---   futura_condensed   --- */
@font-face {
    font-family: 'futura_condensed';
    src: url('/assets/fonts/futura/futura-condensed-webfont.eot');
    src: url('/assets/fonts/futura/futura-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/futura/futura-condensed-webfont.woff2') format('woff2'),
         url('/assets/fonts/futura/futura-condensed-webfont.woff') format('woff'),
         url('/assets/fonts/futura/futura-condensed-webfont.ttf') format('truetype'),
         url('/assets/fonts/futura/futura-condensed-webfont.svg#futura_condbook') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* ---   symbol_1   --- */
@font-face {
    font-family: 'wago_symbol_1';
    src: url('/assets/fonts/symbol_1/symbol_1-webfont.eot');
    src: url('/assets/fonts/symbol_1/symbol_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/symbol_1/symbol_1-webfont.woff2') format('woff2'),
         url('/assets/fonts/symbol_1/symbol_1-webfont.woff') format('woff'),
         url('/assets/fonts/symbol_1/symbol_1-webfont.ttf') format('truetype'),
         url('/assets/fonts/symbol_1/symbol_1-webfont.svg#wagosymbol_1regular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ---   symbol_2   --- */

@font-face {
    font-family: 'wago_symbol_2';
    src: url('/assets/fonts/symbol_2/symbol_2-webfont.eot');
    src: url('/assets/fonts/symbol_2/symbol_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/symbol_2/symbol_2-webfont.woff2') format('woff2'),
         url('/assets/fonts/symbol_2/symbol_2-webfont.woff') format('woff'),
         url('/assets/fonts/symbol_2/symbol_2-webfont.ttf') format('truetype'),
         url('/assets/fonts/symbol_2/symbol_2-webfont.svg#wago_symbol_2regular') format('svg');
    font-weight: normal;
    font-style: normal;

}





/*-------------------------------------*\
    Stacks
\*-------------------------------------*/

$f-arial: arial, helvetica, sans-serif;
$f-futura: 'futura', arial, helvetica, sans-serif;
$f-futura-c: 'futura_condensed', arial, helvetica, sans-serif;

$f-social: 'social-icons';

$f-symbol-1: 'wago_symbol_1';
$f-symbol-2: 'wago_symbol_2';

$f-body: $f-futura;





