/*-------------------------------------*\
    ICONS
\*-------------------------------------*/

/**
 * Icons
 *
 *
 *

 *
 */

[class^="icon--"], [class*=" icon--"] {
    font-family: 'social-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon--youtube:before {
    content: "\e600";
}

.icon--twitter:before {
    content: "\e601";
}

.icon--facebook:before {
    content: "\e602";
}

.icon--linkedin:before {
    content: "\e603";
}

.icon--xing:before {
    content: "\e604";
}

.icon--download:before {
    content: "";
    background-image: url('client/images/icon_download.png');
    width: 13px;
    height: 14px;
    display: inline-block;
}





