/*-------------------------------------*\
    ALIGNMENT
\*-------------------------------------*/

/**
 * Alignment
 *
 * Change the alignment of elements, this
 * includes text-alignment, floats, and
 * clearing
 **
 * Base
 *  - clears
 *  - text-align
 *  - floats
 *
 * Implementation
 *  - clears
 *  - text-align
 *  - floats
 *

 *
 * [note] I could seperate these out into sections, but they'd be sooo small
 * that I feel better grouping them. :O
 */



/*-------------------------------------*\
    Base
\*-------------------------------------*/

/*---   Clears   ---*/

/** <3 css-101.org/articles/clearfix/latest-new-clearfix-so-far.php */
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%clear-fix,
.clear-fix      { @include clearfix; }

%clear,
.clear          { clear: both;   }

%clear-left,
.clear-left     { clear: left;   }

%clear-right,
.clear-right    { clear: right;  }



/*---   Text Align   ---*/

%align-left,
.align-left     { text-align: left;   }

%align-center,
.align-center   { text-align: center; }

%align-right,
.align-right    { text-align: right;  }



/*---   Floats   ---*/

%float-left,
.float-left     { float: left;   }

%float-right,
.float-right    { float: right;  }





