@mixin flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon {
  @include flag-icon-background();
  position: relative;
  display: inline-block;
  line-height: 1em;
  width: 26px;
  height: 20px;
  line-height: 1em;
  border: 1px solid #eee;
  &:before {
    content: '\00a0';
  }

}

@mixin flag-icon($country) {
  .flag-icon-#{$country} {
    background-image: url(client/images/flags/#{$country}.svg);
  }
}
