{{! <!--}}
<script type="x-template" id="vue-tmpl__contact-form">
{{! --> }}
<form method="post" v-on="submit:send(isMuster,$event)" class="contact-item__form   clear-fix">
    <label for="cfFirmenname" class="required" v-text="lang.fields.companyName"></label>
    <input id="cfFirmenname" class="text-input" type="text" required
           v-model="message.firmenname" />

    <label for="cfKundennummer" v-text="lang.fields.customerNumber"></label>
    <input id="cfKundennummer" class="text-input" type="text"
           v-model="message.kundennummer" />

    <label for="cfName" class="required" v-text="lang.fields.name"></label>
    <input id="cfName" class="text-input" required
        v-model="message.name">

    <label for="cfCity" v-class="required:isMuster" v-text="lang.fields.street"></label>
    <input id="cfCity" class="text-input"
        v-attr="required:isMuster"
        v-model="message.city">

    <label for="cfPLZ" v-class="required:isMuster" v-text="lang.fields.zip"></label>
    <input id="cfPLZ" class="text-input" style="width: 16%"
        v-attr="required:isMuster"
        v-model="message.plz">

    <label for="cfStadt" v-class="required:isMuster"
           style="width: 12%; margin-right: 2%" v-text="lang.fields.city"></label>
    <input id="cfStadt" class="text-input" style="width: 25%"
        v-attr="required:isMuster"
        v-model="message.stadt">

    <label for="cfEmail" class="required" v-text="lang.fields.email"></label>
    <input id="cfEmail" class="text-input"
        type="email" required
        v-model="message.email">

    <label for="cfAnmerkungen" v-text="lang.fields.comments"></label>
    <textarea id="cfAnmerkungen" class="text-input" v-model="message.anmerkungen" style="height: 75px; margin-bottom: 15px;">
    </textarea>

    <div class="contact-item__checkbox align-left clear">
        <input id="cfinformationsMaterial" type="checkbox" v-model="message.informationsMaterial" />
        \{{lang.fields.informationByMail}}
    </div>

    <div class="contact-item__checkbox align-left clear">
        <input id="cfconsultation" type="checkbox" v-model="message.consultation" />
        \{{lang.fields.consultCall}}
    </div>


    <div class="contact-item__checkbox align-left clear">
        <input id="cfpersonalConsultation" type="checkbox" v-model="message.personalConsultation" />
        \{{lang.fields.personalConsult}}
    </div>

    <small class="contact-item__required-key  float-right" v-text="lang.fields.required">

    </small>

    {{!--
    <div class="contact-item__disclaimer  align-left  clear">
        <input id="cfBitte"
            type="checkbox"
            v-model="message.confirm">
       \{{lang.fields.sendPattern}}
    </div>
    --}}

    <button class="float-right  button  clear"
        v-class="hiding: isSent, disabled: isSending">
        <span>&raquo;</span> \{{lang.fields.send}}
    </button>

    <div class="contact__success  hiding  clear" v-class="hiding: !isSent">
        \{{lang.successMessage}}
     </div>
</form>

<div class="phone-panel">
    <p>
        <span class="phone-panel__title" v-text="lang.phoneTitle"></span>
        <span v-html="lang.phoneText"></span>
    </p>
    <p class="phone-panel__number" v-html="lang.phoneNumber"></p>
</div>
{{! <!--}}
</script>
{{! --> }}
