{{! <!--}}
<script type="x-template" id="vue-tmpl__info-modal">
{{! --> }}
<div class="modal__backdrop" v-class="open:isOpen"></div>
<div class="info__modal" v-class="open:isOpen, lang.key">
    <section class="modal__content">
        <a href="javascript:void(0)" class="modal__close" v-on="click:close">&times;</a>
        <article class="grid-modal">
            <header class="clear-fix">
                <img src="client/images/misc/WAGO_device.png" class="grid-modal__header__image  float-left">
                <h1 class="modal__title  float-left" v-html="lang.title"></h1>
                <p class="grid-modal__header__text" v-html="lang.subText"></p>
            </header>

            <section class="grid-modal__body" v-html="lang.body">
            </section><!-- grid-mo0dal__body -->
            <button class="modal__scrollToTop"></button>
        </article><!-- grid-modal -->
        <div class="clear"></div>
    </section><!-- modal__content -->
</div>
{{! <!--}}
</script>
{{! --> }}
