{{! <!--}}
<script type="x-template" id="vue-tmpl__lang-switch">
{{! --> }}
<button class="lang-toggle" v-on="click: isLangSwitchOpen=!isLangSwitchOpen"><div class="flag-icon" v-class="langIDClass"></div></button>
<div class="navbar-langSwitch">
<ul class="clearfix">
  <li><button v-on="click:setLang('en')" href="http://global.wago.com/">Global Website/english</button></li>
  <li><button v-on="click:setLang('com')" href="http://www.wago.com.au">Australia</button></li>
  <li><button v-on="click:setLang('at')" href="http://global.wago.com/at">Austria</button></li>
  <li><button v-on="click:setLang('ae')" href="http://www.wago.ae">Bahrain</button></li>
  <li><button v-on="click:setLang('be')" href="http://www.wago.be/nl">Belgium/flemish</button></li>
  <li><button v-on="click:setLang('be')" href=<"http://www.wago.be/fr">Belgium/french</button></li>
  <li><button v-on="click:setLang('br')" href="http://www.wago.com.br">Brazil</button></li>
  <li><button v-on="click:setLang('bg')" href="http://global.wago.com/bg">Bulgaria</button></li>
  <li><button v-on="click:setLang('ru')" href="http://www.wago.ru">C.I.S.</button></li>
  <li><button v-on="click:setLang('us')" href="http://www.wago.us">Canada</button></li>
  <li><button v-on="click:setLang('cn')" href="http://www.wago.com.cn">China</button></li>
  <li><button v-on="click:setLang('cz')" href="http://www.wago.cz">Czech Republic</button></li>
  <li><button v-on="click:setLang('dk')" href="http://www.wago.dk">Denmark</button></li>
  <li><button v-on="click:setLang('ae')" href="http://www.wago.ae">Egypt</button></li>
  <li><button v-on="click:setLang('fi')" href="http://www.wago.fi">Finland</button></li>
  <li><button v-on="click:setLang('fr')" href="http://www.wago.fr">France</button></li>
  <li><button v-on="click:setLang('de')" href="http://www.wago.de/">Germany</button></li>
  <li><button v-on="click:setLang('uk')" href="http://global.wago.com/uk">Great Britain</button></li>
  <li><button v-on="click:setLang('hu')" href="http://www.wago.hu">Hungary</button></li>
  <li><button v-on="click:setLang('ae')" href="http://www.wago.ae">Iran</button></li>
  <li><button v-on="click:setLang('ae')" href="http://www.wago.ae">Iraq</button></li>
  <li><button v-on="click:setLang('it')" href="http://global.wago.com/it">Italy</button></li>
  <li><button v-on="click:setLang('jp')" href="http://global.wago.com/jp">Japan</button></li>
  <li><button v-on="click:setLang('ae')" href="http://www.wago.ae">Jordan</button></li>
  <li><button v-on="click:setLang('co')" href="http://www.wago.co.kr">Korea</button></li>
  <li><button v-on="click:setLang('ae')" href="http://www.wago.ae">Kuwait</button></li>
  <li><button v-on="click:setLang('lv')" href="http://www.wago.lv">Latvia</button></li>
  <li><button v-on="click:setLang('lt')" href="http://global.wago.com/lt/index.jsp">Lithuania</button></li>
  <li><button v-on="click:setLang('be')" href="http://www.wago.be/fr">Luxemburg/french</button></li>
  <li><button v-on="click:setLang('us')" href="http://www.wago.us">Mexico</button></li>
  <li><button v-on="click:setLang('fr')" href="http://www.wago.fr/wago/sites-wago/wago-dans-le-monde/societes-et-representations/index.jsp">Morocco</button></li>
  <li><button v-on="click:setLang('nl')" href="http://global.wago.com/nl">Netherlands</button></li>
  <li><button v-on="click:setLang('com')" href="http://www.wago.com.au">New Zealand</button></li>
  <li><button v-on="click:setLang('no')" href="http://www.wago.no">Norway</button></li>
  <li><button v-on="click:setLang('ae')" href="http://www.wago.ae">Oman</button></li>
  <li><button v-on="click:setLang('pl')" href="http://www.wago.pl">Poland</button></li>
  <li><button v-on="click:setLang('ae')" href="http://www.wago.ae">Qatar</button></li>
  <li><button v-on="click:setLang('ro')" href="http://global.wago.com/ro">Romania</button></li>
  <li><button v-on="click:setLang('ae')" href="http://www.wago.ae">Saudi Arabia</button></li>
  <li><button v-on="click:setLang('sg')" href="http://www.wago.sg">Singapore</button></li>
  <li><button v-on="click:setLang('es')" href="http://www.wago.es">Spain</button></li>
  <li><button v-on="click:setLang('se')" href="http://www.wago.se">Sweden</button></li>
  <li><button v-on="click:setLang('ch')" href="http://www.wago.ch">Switzerland</button></li>
  <li><button v-on="click:setLang('tw')" href="http://global.wago.com/tw">Taiwan R.O.C.</button></li>
  <li><button v-on="click:setLang('tr')" href="http://www.wago.com.tr">Turkey</button></li>
  <li><button v-on="click:setLang('us')" href="http://www.wago.us">USA</button></li>
  <li><button v-on="click:setLang('ae')" href="http://www.wago.ae">United Arab Emirates</button></li></ul>

</div>
{{! <!--}}
</script>
{{! --> }}
