{{! <!--}}
<script type="x-template" id="vue-tmpl__pop-out">
{{! --> }}
<div class="popout__container"
     v-class="open:isOpen">
    <a class="popout__button" href="javascript:void(0)"
       v-on="click:toggle(name)">+</a>

    <section class="popout__content">
        <content select=":nth-child(1)"></content>
    </section><!-- popout__content -->

    <div class="popout__label">
        <content select=":nth-child(2)"></content>
    </div><!-- popout__label -->
</div>
{{! <!--}}
</script>
{{! --> }}
