{{! <!--}}
<script type="x-template" id="vue-tmpl__scroll-alias">
{{! --> }}
<div class="hiding  scroll-alias__container"
    v-on="click:$parent.scrollNext"
    v-class="
        hiding:isHidden,
        hovering:isHovering
    ">

    <div class="scroll-alias__text"
         v-class="hiding:isTextHidden"
         v-text="lang.text">
    </div>
    <hr>
    <div class="scroll-alias__arrow"
         v-class="down:isArrowDown">
        <i class="scroll-alias__rope"
           v-class="show:isRopeShowing"></i>
    </div>
    <div class="scroll-alias__arrow down">
        </div>
</div>
{{! <!--}}
</script>
{{! --> }}
