{{! <!--}}
<script type="x-template" id="vue-tmpl__side-menu">
{{! --> }}
<div class="side-menu__control"
     v-on="click: isOpen=!isOpen">&#43;</div>

<ul class="side-menu__bullet-list">
    <li class="side-menu__item  stage-mark"
        v-attr="title: lang.clamp.title"
        v-on="click:setPane('clamp', 'cage-clamp-technology')"
        v-class="active:$parent.pane == 'clamp'">
        <a href="#cage-clamp-technology" v-html="lang.clamp.text"></a>

    <li class="stage-mark" title="UNIVERSELLER LEITERANSCHLUSS"
        v-attr="title: lang.leiterarten.title"
        v-on="click:setPane('universeller', 'alle-leiterarten')"
        v-class="active:$parent.pane == 'universeller'">
        <a href="#alle-leiterarten" v-html="lang.leiterarten.text"></a>

    <li class="stage-mark" title="HOHE SICHERHEITSRESERVEN"
        v-attr="title: lang.hohe.title"
        v-on="click:setPane('hohe', 'hohe-sicherheitsreserven')"
        v-class="active:$parent.pane == 'hohe'">
        <a href="#hohe-sicherheitsreserven" v-html="lang.hohe.text"></a>

    <li class="stage-mark" title="MULTIFUNKTIONALES BRÜCKERPROGRAMM"
        v-attr="title: lang.bruckerprogramm.title"
        v-on="click:setPane('multifunktionales', 'multifunktionales-brückersystem')"
        v-class="active:$parent.pane == 'multifunktionales'">
        <a href="#multifunktionales-brückersystem" v-html="lang.bruckerprogramm.text"></a>

    <li class="stage-mark" title="SCHNELLE BESCHRIFTUNG"
        v-attr="title: lang.schnelle.title"
        v-on="click:setPane('komfortable', 'schnellste-beschriftung')"
        v-class="active:$parent.pane == 'komfortable'">
        <a href="#schnellste-beschriftung" v-html="lang.schnelle.text"></a>

    <li class="stage-mark" title="ALLE PRODUKTVORTEILE"
        v-attr="title: lang.produktvorteile.title"
        v-on="click:setPane('moreInfo', 'alle-produktvorteile')"
        v-class="active:$parent.pane == 'moreInfo'">
        <a href="#alle-produktvorteile" v-html="lang.produktvorteile.text"></a>
</ul>

<!--
<img src="images/non_active_lt.png" width="12" height="12">
-->


<ul class="side-menu__icon-list" v-attr="'data-active':$parent.active">
    <li class="side-menu__item  kontakt" title="KONTAKT"
        v-class="active:$parent.active == 'kontakt'"
        v-attr="title: lang.contact.title"
        v-on="click:$parent.showContact">
        <a href="#kontakt" v-html="lang.contact.text"></a>
    </li>

    <li class="side-menu__item  produktprogramm" title="PRODUKTPROGRAMM"
        v-class="active:$parent.active == 'produktprogramm'"
        v-attr="title: lang.products.title"
        v-on="click:$parent.showProductProgram">
        <a href="#produktprogramm" v-html="lang.products.text"></a>
    </li>

    <li class="side-menu__item  downloads" title="DOWNLOADS"
        v-class="active:$parent.active == 'downloads'"
        v-attr="title: lang.downloads.title"
        v-on="click:$parent.showDownloads">
        <a href="#downloads" v-html="lang.downloads.text"></a>
    </li>
</ul>
{{! <!--}}
</script>
{{! --> }}
